{% load staticfiles %}

<div id="what" class="main-body alternate">
    <img class="big-img right" src="{% static 'images/what1.png' %}">
    <div class="content left">
        <h1>Introducing ReCal.</h1>
        <h2>Needle, out of the haystack.</h2>
        <p>Never sort through Blackboard, Piazza, email, and other notifications again.</p>
        <p>
        ReCal keeps you on track with your course work. It's all in one place, and curated by your classmates. 
        </p>
        <p>ReCal is the calendar designed just for you. With a group calendar for every class, now you can collaborate with your classmates friends to stay on track with your work.</p>
        <p><b>Now open for FREE to all Princeton students!</b></p>
        <!--<div class="login-container">
            <a href="/login" class="btn btn-primary login_button">
                <h3>Log in</h3>
                <h3>Add Your Courses &rarr;</h3>
                <h4>(or Login to Dashboard)</h4> 
            </a>
    </div>-->
    </div>
</div>

<div class="main-body" >
    <img class="big-img left" src="{% static 'images/what2.png' %}">
    <div class="content right">
        <h2>What is ReCal?</h2>
        <p>
        ReCal &mdash; short for Rethinking Calendar &mdash; is a new, crowdsourced way for Princeton students to monitor their assignments and other course work.</p>
        <p>Start by signing up for classes. We'll generate a real-time, up-to-date dashboard for you with everything that's going on.</p>
        <p>No more need to comb through a large webpage to find a certain preceptor's office hours or an assignment's due date. It's all right here in ReCal, handily curated by your classmates.</p>
        
    </div>
</div>

<div id="why" class="main-body alternate">
    <img class="big-img right" style="margin-right: 0"  src="{% static 'images/why1.png' %}">
    <div class="content left">
        <h2>Earn points for good edits</h2>
        <p>
        Every part of ReCal has been designed to enable good content. See an 
        error in an event? To edit, just click on the error, and type away.
        </p>
        <p>In fact, we'll reward you with points for your edits. As soon as your classmates up-vote your changes, you'll earn a nice share of points &mdash; and so will they.</p>
        <p>But beware! You lose points for submitting something that many of your classmates think is wrong.</p>
    </div>
</div>

<div class="main-body" >
    <img class="big-img left" style="float:right; margin-right: 40%" src="{% static 'images/why2.png' %}">
    <div class="content right">
        <h2>Add an event first to get the most points!</h2>
        <p>
        Noticed that an event for a class is missing from ReCal?
        Adding it is a click away &mdash; and your friends get to benefit, too.
        </p>
    </div>
</div>

<div class="main-body alternate">
    <img class="big-img right" style="margin-right: 0" data-src="holder.js/400x400">
    <div class="content left">
        <h2>Your Agenda on the go.</h2>
        <p>
        <b>Go mobile</b>. Load www.recal.io in your smartphone's browser to see your Agenda from anywhere.
        </p>
        <p>
        Or <a href="https://chrome.google.com/webstore/detail/recal-agenda/pdhcefnmpfjkhdefndgdobbmchpodmik">install our <b>Chrome Extension</b></a>. It spruces up your New Tab page with what's new on your Agenda.
        </p>
    </div>
</div>

<div class="main-body">
    <img class="big-img left" style="margin-right: 0"  src="{% static 'images/why3.png' %}">
    <div class="content right">
        <h2>Fully customizable. Position your events, your way.</h2>
        <p>
        ReCal is your calendar &mdash; it will look exactly the way you want.
        Want to see two events side by side? No problem, just drag and drop them side-by-side, and you're good to go.
        </p>
        <p>We know Princeton students don't have the time to hunt for things in their full calendars. So we came up with the Agenda view to filter away the noise.<br/>Decide what's most important to you &mdash; like assignments and exams but not lectures &mdash; and we'll show only those items in your Agenda.</p>
    </div>
</div>

<div class="main-body alternate" >
    <img class="big-img left" src="{% static 'images/why4.png' %}">
    <div class="content right dark">
        <h2>Looks great in black.</h2>
        <p>
        Speaking of looks, there is a dark theme, too. Choose whichever
        fits you more.
        </p>
    </div>
</div>


<div id="about" class="main-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-5 col-xs-offset-1">
                <h2>The Original ReCal Team</h2>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <div class="thumbnail">
                    <img data-src="holder.js/300x250" alt="Travis" class="profile-pic">
                    <div class="caption">
                        <h4>Travis Perlee</h4>
                        <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="thumbnail">
                    <img src="{% static 'images/naphats.jpg' %}" alt="Naphat" class="profile-pic">
                    <div class="caption">
                        <h4>Naphat Sanguansin</h4>
                        <p>
                        Known as "Krit" by his close friends, Naphat specializes in front-end/mobile development and UX design.
                        When he is not coding, Naphat spends his time running at the gym and reading up on current technologies,
                        as well as following and eagering awaiting the next Star Wars film. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="thumbnail">
                    <img src="{% static 'images/dyland.png' %}" alt="Dyland" class="profile-pic">
                    <div class="caption">
                        <h4>Dyland Xue</h4>
                        <p>
                        Dyland is a sophomore at Princeton University majoring in Computer Science. He’s interested in solving hard problems such as <a href="http://arxiv.org/pdf/cs/0210020v1.pdf">Tetris</a> and <a href="http://arxiv.org/pdf/1106.5736v1.pdf">the Rubik’s Cube</a>. In his spare time, Dyland enjoys chess, photography, and running.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="thumbnail">
                    <img src="{% static 'images/maxim.jpg' %}" alt="Maxim" class="profile-pic"> 
                    <div class="caption">
                        <h4>Maxim Zaslavsky</h4>
                        <p>
                        Maxim is a Computer Science student at Princeton. He's most interested in applying the tools of computer science to problems in other fields -- especially neuroscience, economics, and biology. He spends his free time reading and playing music. He was PM of the original Recal COS 333 project at Princeton. Get in touch at <a href="http://www.maximz.com">www.maximz.com</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="main-body alternate" >
    <div class="content center">
        <h2>Special thanks to our advisors:</h2>
        <h3>Brian Kernighan</h3>
        <h3>Raghav Sethi</h3>
    </div>
</div>


