{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        
        <base href="{{ base_url }}">
        <link id="theme_css" rel="stylesheet" href="{% static 'cosmo/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/mystyles.css' %}">
        <title>ReCal - Rethinking Calendar</title>
        
    </head>
    <body class="theme">
        <div class="row" style="padding-top: 60px;">
            <div style="text-align: center;">
                <h2>Welcome to Recal</h2>
                <h3>Rethinking Calendar.</h3>

                <p>Login to see your Agenda on the go.</p>

                <a href="/login" target="_parent" class="btn btn-primary">
                    <h3>Login To See Agenda &rarr;</h3>
                </a>
                <!-- <p><i>Or <a href="http://recal.io" target="_parent">go to homepage...</a></i></p> -->
            </div>
        </div>

        <script src="{% static 'bower_components/holderjs/holder.js' %}"></script>
        <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    </body>
</html>