<div class="navbar navbar-basic navbar-fixed-top theme" role="navigation">
 <div class="container-fluid container-nopad">
     <div class="row">    
         <div id="navtab" class="col-xs-10 col-xs-offset-1">
             <ul class="nav nav-tabs ">
                <li>
                    <a href="#what" class="nav-link">
                        <h4>What is ReCal?</h4>
                    </a>
                </li>
                <li>
                    <a href="#why" class="nav-link">
                        <h4>How It Works</h4>
                    </a>
                </li>
                <li>
                    <a href="#about" class="nav-link">
                        <h4>Meet the Team</h4>
                    </a>
                </li>
                <li id="login-nav-item" class="active">
                    <a href="#login" onclick="window.location.href = '/login'" class="btn btn-primary" >
                        <h4>Login</h4>
                    </a>
                </li>
             </ul> 
         </div>
     </div>
 </div>
</div>
