.idea
.DS_Store
venv
settings/dev.py
nice/static/bower_components/bootstrap/node_modules/*
course_selection/static/node_modules/*
*.pyc
staticfiles
*.swp
.env
course_selection/static/bower_components
.tags*
