Django==1.6.2
Minidetector==0.1
MySQL-python==1.2.5
South==0.8.4
beautifulsoup4==4.3.2
dj-database-url==0.2.2
dj-static==0.0.5
django-debug-toolbar==1.0.1
django-grappelli==2.5.3
django-view-cache-utils==0.1.1
gunicorn==18.0
lxml==3.3.4
psycopg2==2.5.1
sqlparse==0.1.11
static==0.4
wsgiref==0.1.2
