@body-light-background-color: rgb(241, 242, 242);
@body-dark-background-color: rgb(231, 232, 233);
@background-color: @body-dark-background-color;

.fc-today {
    background-color: @background-color;
}

.fc-agenda-slots tr.fc-minor th,
.fc-agenda-slots tr.fc-minor td {
    border-top-style: none;
}
