.fc-today {
  background-color: #e7e8e9;
}
.fc-event {
  border-style: none;
}
.fc-event-title {
  text-align: center;
}
.fc-agenda-slots tr.fc-minor th,
.fc-agenda-slots tr.fc-minor td {
  border-top-style: none;
}
