.fc-unthemed .fc-today {
  background-color: white;
}
#calendar {
  background-color: white;
}
.fc-event {
  border-right-style: none;
  border-top-style: none;
  border-left-width: 0;
  border-bottom-style: none;
  border-radius: 0;
  background: url('../images/stripe.png') repeat #c0c0c0;
  opacity: 0.8;
}
.cal-confirmed {
  background: none;
  border-left-width: 4px;
  opacity: 1;
}
.fc-event:hover {
  cursor: pointer;
}
.fc-toolbar {
  margin-bottom: 0;
  height: 0;
}
.fc-title {
  text-align: center;
  font-weight: bold;
}
.fc-slats td {
  height: 2.6vh;
}
.fc-slats .fc-minor td {
  border-top-style: none;
}
.fc-ltr .fc-axis {
  color: gray;
}
