.fc-unthemed .fc-today {
  background-color: white;
}
#calendar {
  background-color: white;
}
.fc-event {
  border-right-style: none;
  border-top-style: none;
  border-left-width: 4px;
  border-bottom-style: none;
  border-radius: 0;
}
.fc-event:hover {
  cursor: default;
}
.fc-toolbar {
  margin-bottom: 0;
  height: 0;
}
.fc-title {
  text-align: center;
  font-weight: bold;
}
.fc-slats td {
  height: 1.7em;
}
.fc-slats .fc-minor td {
  border-top-style: none;
}
