@body-light-background-color: rgb(241, 242, 242);
@body-dark-background-color: rgb(231, 232, 233);
@background-color: rgb(255, 255, 255);
@event-border-width: 4px;

.fc-unthemed .fc-today {
    background-color: transparent;
}

.fc-event {
    border-right-style: none;
    border-top-style: none;
    border-left-width: @event-border-width;
    border-bottom-style: none;
    border-radius: 0;
}

.fc-title {
    text-align: center;
    font-weight: bold;
}

.fc-slats td {
	height: 1.7em;
}

.fc-slats .fc-minor td {
    border-top-style: none;
}
