@body-light-background-color: rgb(241, 242, 242);
@body-dark-background-color: rgb(231, 232, 233);
@background-color: rgb(255, 255, 255);

.fc-unthemed .fc-today {
    background-color: @background-color;
}

.fc-event {
    border-right-width: 4px;
    border-top-style: none;
    border-left-style: none;
    border-bottom-style: none;
}

.fc-title {
    text-align: center;
    font-weight: bold;
}

.fc-slats td {
	height: 1.7em;
}

.fc-slats .fc-minor td {
    border-top-style: none;
}
