@body-light-background-color: rgb(241, 242, 242);

@search-bar-font-size: 18px;

@course-listing-font-size: 15px;
@course-title-font-size: 13px;
@title-font-size: 40px;

@course-panel-container-height: 45vh;
@search-bar-height: 4vh;
@course-panel-heading-height: 6vh;
@course-panel-body-height: 19vh;

.course-panel {
    min-height: 40px;
    position: relative;
    overflow: visible;
}

.course-panel-title {
    text-align: left;
    padding-left: 0;
    width: 90%;
}

#searchBarContainer {
    background-color: @body-light-background-color;
    height: @search-bar-height;
    width: 100%;
    margin-bottom: 1vh;
}

#searchBar {
    height: @search-bar-height;
    font-size: @search-bar-font-size;
    width: 100%;
}

#unenrolledCourses {
    height: 100%;
    overflow: auto;
}

.course-panel-heading {
    height: @course-panel-heading-height;
}

.course-panels-container {
    position: relative;
    min-height: 40vh;
    max-height: 80vh;
    overflow: auto;
}

.enrolled-courses-container {
    position: relative;
    min-height: 5vh;
    max-height: 40vh;
    overflow: auto;
}

#enrolledCourses {
    height: 100%;
    overflow: auto;
}

.course-listings {
    font-size: @course-listing-font-size;
    margin-bottom: 0;
}

.course-title {
    font-size: @course-title-font-size;
    margin-bottom: 5px;
}

.highlighted {
    font-weight: bold;
}

.course-tag {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 10%;
}

.course-info {
    position: absolute;
    top: 25%;
    right: 0;
    height: 50%;
    max-height: 30px;
    overflow: visible;
    z-index: 10;
}

.course-panel.ng-move,
.course-panel.ng-enter,
.course-panel.ng-leave {
    -webkit-transition: 200ms linear all;
    transition: 200ms linear all;
}
 
.course-panel.ng-leave.ng-leave-active,
.course-panel.ng-move,
.course-panel.ng-enter {
  opacity:0;
  max-height:0;
  left: -50px;
}
 
.course-panel.ng-leave,
.course-panel.ng-move.ng-move-active,
.course-panel.ng-enter.ng-enter-active {
  opacity:1;
  max-height:400px;
  left: 0;
}
