@body-light-background-color: rgb(241, 242, 242);

@search-bar-font-size: 13px;

@course-listing-font-size: 13px;
@course-title-font-size: 13px;
@course-rating-font-size: 13px;
@title-font-size: 30px;

@course-panel-container-height: 45vh;
@search-bar-height: 4vh;
@course-panel-heading-height: 6vh;
@course-panel-body-height: 19vh;

.course-panel {
    min-height: 40px;
    width: 100%;
    position: relative;
    overflow: visible;
    border-radius: 0 !important;
}

.enrolled-course-panel {
    border-left-width: 0px;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

.unconfirmed {
    background: url('../images/stripe.png') repeat silver !important;
    opacity: 0.8;
}

.confirmed {
    border-left-width: 4px;
}

.course-panel-title {
    text-align: left;
    padding-left: 2px;
    width: 90%;
}

#searchBarContainer {
    background-color: @body-light-background-color;
    height: @search-bar-height;
    margin-bottom: 1vh;
}

#searchBar {
    height: @search-bar-height;
    font-size: @search-bar-font-size;
    width: 100%;
}

#unenrolledCourses {
    min-height:0;
    height: 100%;
    overflow-y: auto;
}

.course-panel-heading {
    height: @course-panel-heading-height;
}

.course-panels-container {
    position: relative;
    min-height: 0;
    max-height: 80vh;
    overflow-y: auto;
}

.enrolled-courses-container {
    position: relative;
    min-height: 5vh;
    max-height: 80vh;
    overflow-y: auto;
}

#enrolledCourses {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.course-listings {
    font-size: @course-listing-font-size;
    margin-bottom: 0;
}

.course-title {
    font-size: @course-title-font-size;
    margin-bottom: 5px;
}

.highlighted {
    font-weight: bold;
}

.course-tag {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(3 * @course-rating-font-size);
}

.course-info {
    position: absolute;
    top: 25%;
    right: 0;
    height: 50%;
    max-height: 30px;
    overflow: visible;
    z-index: 10;
}

.absolute-tag {
    position: absolute;
    top: 0;
    height: 100%;
    width: 20%;
    a, p {
        line-height: 100%;
        top: 25%;
        height: 75%;
        width: 100%;
        word-wrap: break-word;
        text-align: center;
        position: absolute;
        font-size: 15px;
        color: white;
        cursor: pointer;
        white-space: pre-wrap;
    }
}

.rightmost-tag {
    .absolute-tag();
    right: 0;
}

.second-rightmost-tag {
    .absolute-tag();
    right: 20%;
}

.enroll-tag {
    .rightmost-tag();
    background-color: green;
}

.unenroll-tag {
    .rightmost-tag();
    background-color: red;
}

.more-info-tag {
    .second-rightmost-tag();
    background-color: gray;
}

/* TODO: fix this for enrolled courses--
 * the background doesn't work
 */
.cover {
    background-color: white;
    position: relative;
    height: 100%;
    z-index: 20;
    transition: all linear 250ms;
}

.showTags {
  position: absolute;
  left: -40%;
  right: 40%;
}

.showTags-add {
  transition: 0s linear all;
  position: absolute;
  left: 0;
  right: 0;
}

.showTags-remove {
  position: absolute;
  left: 0;
  right: 0;
}

.course-panel.ng-move,
.course-panel.ng-enter,
.course-panel.ng-leave {
    -webkit-transition: 250ms linear all;
    transition: 250ms linear all;
}
 
.course-panel.ng-leave.ng-leave-active,
.course-panel.ng-move,
.course-panel.ng-enter {
  opacity:0;
  max-height:0;
  left: -60px;
}
 
.course-panel.ng-leave,
.course-panel.ng-move.ng-move-active,
.course-panel.ng-enter.ng-enter-active {
  opacity:1;
  max-height:400px;
  left: 0;
}
