@body-light-background-color: rgb(241, 242, 242);
@body-dark-text-color: rgb(64,64,64);

@search-bar-font-size: 13px;
@search-bar-color: #bbb;

@course-listing-font-size: 13px;
@course-title-font-size: 13px;
@course-rating-font-size: 13px;
@title-font-size: 30px;

@course-panel-container-height: 45vh;
@search-bar-height: 4vh;
@course-panel-heading-height: 6vh;
@course-panel-body-height: 19vh;
@tag-width: 10%;

/* all course panels, including enrolled and search results */
.course-panel {
    min-height: 40px;
    width: 100%;
    margin-top: 0px !important;
    position: relative;
    overflow: visible;
    border-radius: 0 !important;
    border-bottom: none;
}

/* enrolled panels are marked with a left bar */
.enrolled-course-panel {
    border-left-width: 4px;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

.course-panel-title {
    text-align: left;
    padding-left: 2px;
    width: 100% - 3 * @tag-width;
}

.course-panels-container {
    position: relative;
    min-height: 0;
    max-height: 70vh;
    overflow-y: auto;
}

.enrolled-courses-container {
    position: relative;
    min-height: 5vh;
    max-height: 70vh;
}


#searchBarContainer {
    background-color: @body-light-background-color;
    height: @search-bar-height;
    margin-bottom: 1vh;
}

.searchBar {
    background-image: url('../images/search.png');
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: 7px 50%;
    padding: 5px 5px 5px 25px;
    color: @search-bar-color;
    height: @search-bar-height;
    font-size: @search-bar-font-size;
    border-radius: 4px;
    border-width: 0px;
    width: 100%;

    &:focus {
        outline: none;
        color: @body-dark-text-color;
    }
}

.searchBar:focus::-webkit-input-placeholder {
    color: transparent;
}

#unenrolledCourses {
    min-height:0;
    height: 100%;
}

#loading-message-container {
    position: relative;
}

.loading-courses-message {
    display: inline;
    margin-left: 15px;
}

#enrolledCourses {
    height: 100%;
}

.course-listings {
    font-size: @course-listing-font-size;
    margin-bottom: 0;
}

.course-panel-heading {
    height: @course-panel-heading-height;
}

.course-title {
    font-size: @course-title-font-size;
    margin-bottom: 0px;
}

.highlighted {
    font-weight: bold;
}

.course-tag {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(3 * @course-rating-font-size);
}

.unconfirmed {
    background: url('../images/stripe.png') repeat silver;
    opacity: 0.8;
    border-left-color: transparent !important;
}

.confirmed {
}

.course-info {
    position: absolute;
    top: 25%;
    right: 0;
    height: 50%;
    max-height: 30px;
    overflow: visible;
    z-index: 10;
}

.absolute-tag {
    cursor: pointer;
    position: absolute;
    top: 0;
    height: 100%;
    width: @tag-width;
    i {
        top: 25%;
        width: 100%;
        position: absolute;
        text-align: center;
        font-size: 15px;
        color: white;
        cursor: pointer;
    }
}

.rightmost-tag {
    .absolute-tag();
    right: 0;
}

.second-rightmost-tag {
    .absolute-tag();
    right: @tag-width;
}

.third-rightmost-tag {
    .absolute-tag();
    right: 2 * @tag-width;
}
.enroll-tag {
    .rightmost-tag();
    background-color: green;
}

.unenroll-tag {
    .rightmost-tag();
    background-color: red;
    z-index: 10;
}

.eval-tag {
    .third-rightmost-tag();
    background-color: orange;
    z-index: 10;
}
.more-info-tag {
    .second-rightmost-tag();
    background-color: gray;
    z-index: 10;
}

.tags-visible {
    z-index: 100;
}

.course-panel.ng-move,
.course-panel.ng-enter,
.course-panel.ng-leave {
    -webkit-transition: 200ms linear all;
    transition: 200ms linear all;
}

.course-panel.ng-leave.ng-leave-active,
.course-panel.ng-move,
.course-panel.ng-enter {
    opacity:0.5;
    left: -20vh;
}

.course-panel.ng-leave,
.course-panel.ng-move.ng-move-active,
.course-panel.ng-enter.ng-enter-active {
    opacity:1;
    left: 0;
}

/*
.ng-hide-add {
    -webkit-transition:0.1s linear all;
    -moz-transition:0.1s linear all;
    -o-transition:0.1s linear all;
    transition:0.1s linear all;
    opacity: 1;
}
.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}

.ng-hide-remove {
    -webkit-transition:0.1s linear all;
    -moz-transition:0.1s linear all;
    -o-transition:0.1s linear all;
    transition:0.1s linear all;
    opacity: 0;
}
.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}
*/
