.course-panel {
  min-height: 40px;
}
.course-panel-title {
  font-size: 15px;
  text-align: left;
  padding-left: 0;
}
#searchBarContainer {
  background-color: #f1f2f2;
  height: 4vh;
  width: 100%;
  margin-bottom: 1vh;
}
#searchBar {
  height: 4vh;
  font-size: 18px;
  width: 100%;
}
#accordion {
  height: 100%;
  overflow: auto;
}
#courseQueue {
  font-size: 15px;
  text-align: center;
}
.course-panel-heading {
  height: 6vh;
}
.course-panel-body {
  font-size: 14px;
  overflow: auto;
}
#coursePanelsContainer {
  position: relative;
  height: 90vh;
}
