.course-panel {
  min-height: 40px;
  position: relative;
  overflow: visible;
  border-radius: 0 !important;
}
.enrolled-course-panel {
  border: 0;
}
.course-panel-title {
  text-align: left;
  padding-left: 0;
  width: 90%;
}
#searchBarContainer {
  background-color: #f1f2f2;
  height: 4vh;
  margin-bottom: 1vh;
}
#searchBar {
  height: 4vh;
  font-size: 13px;
  width: 100%;
}
#unenrolledCourses {
  min-height: 0;
  height: 100%;
  overflow: auto;
}
.course-panel-heading {
  height: 6vh;
}
.course-panels-container {
  position: relative;
  min-height: 0;
  max-height: 80vh;
  overflow: auto;
}
.enrolled-courses-container {
  position: relative;
  min-height: 5vh;
  max-height: 40vh;
  overflow: auto;
}
#enrolledCourses {
  height: 100%;
  overflow: auto;
}
.course-listings {
  font-size: 13px;
  margin-bottom: 0;
}
.course-title {
  font-size: 13px;
  margin-bottom: 5px;
}
.highlighted {
  font-weight: bold;
}
.course-tag {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(39px);
}
.course-info {
  position: absolute;
  top: 25%;
  right: 0;
  height: 50%;
  max-height: 30px;
  overflow: visible;
  z-index: 10;
}
.course-panel.ng-move,
.course-panel.ng-enter,
.course-panel.ng-leave {
  -webkit-transition: 200ms linear all;
  transition: 200ms linear all;
}
.course-panel.ng-leave.ng-leave-active,
.course-panel.ng-move,
.course-panel.ng-enter {
  opacity: 0;
  max-height: 0;
  left: -50px;
}
.course-panel.ng-leave,
.course-panel.ng-move.ng-move-active,
.course-panel.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 400px;
  left: 0;
}
