#footer {
  border-top: 1px solid #e5e5e5;
}
#footer-inner {
  background-color: #ffffff;
  color: #999999;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 12px;
}
#footer-inner a {
  font-weight: bold;
}
#footer-inner p {
  clear: left;
  line-height: 1.6;
}
