@footer-height: 40px;
@footer-background-color: rgba(42, 52, 65, 0.95);
@footer-border-color: #e5e5e5;
@footer-text-color: #DDD;
@max-min-width: 1440px;

#footer {
    border-top: 1px solid @footer-border-color;
    background-color: @footer-background-color;
}

#footer-inner {
    color: @footer-text-color;
    margin: 0 auto;
    max-width: @max-min-width;
    padding: 0 12px;

    a {
        font-weight: bold;
    }

    p {
        clear: left;
        line-height: 3;
        margin: 0;
    }
}
