#header {
  background-color: rgba(42, 52, 65, 0.95);
  width: 100%;
  height: 5vh;
}
#header-inner {
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}
@media screen and (min-width: 1440px) {
  #header-inner {
    max-width: 1440px;
  }
}
#logo {
  height: 100%;
  float: left;
}
#logo > a {
  text-decoration: none;
  position: absolute;
  top: 10%;
  display: block;
  height: 100%;
  text-align: center;
  font-size: 1.5em;
  color: #dddddd;
}
#username {
  height: 100%;
  width: 10vh;
  line-height: 100%;
  font-size: 1.25em;
}
#username > a {
  display: block;
  text-decoration: none;
  line-height: 5vh;
  color: #999;
}
#updates {
  height: 100%;
  width: 25vw;
  display: block;
  text-decoration: none;
  line-height: 5vh;
  font-size: 1.25em;
  color: #dddddd;
  margin-left: 30vw;
}
#updates > a {
  color: inherit;
}
#updates::before {
  content: "*";
}
#updates::after {
  content: "*";
}
.header-item {
  color: #dddddd;
  display: block;
  text-decoration: none;
  line-height: 5vh;
  font-size: 1.25em;
  margin-right: 10px;
}
.header-item > a {
  color: inherit;
  border-right: 1px #c8c8c8 solid;
  padding-right: 10px;
}
.group {
  position: relative;
}
