@body-light-background-color: #f0f0f0;
@body-medium-background-color: rgba(0, 0, 0, 0.05);
@body-dark-background-color: rgba(0, 0, 0, 0.08);

@tab-light-background-color: rgb(211, 211, 211);
@tab-medium-background-color: rgb(194, 194, 194);
@tab-dark-background-color: rgb(184, 184, 184);

@remove-hover-background-color: rgba(184, 184, 184, 0.5);

@tooltip-background-color: rgba(47,47,47,0.98);
@body-dark-text-color: rgb(64,64,64);
@main-height: 80vh;
@max-min-width: 1440px;

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    border-radius: 0;
    color: @body-dark-text-color;
}

#wrap {
    background-color: @body-light-background-color;
}

#semesterContainer {
    height: 95vh;
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;

    @media screen and (min-width: @max-min-width) {
        max-width: @max-min-width;
    }
}

#container {
    height: 100%;
    width: 100%;
}

#main {
    height: @main-height;
    margin-left: 0px;
}

#searchColumn {
    height: 85vh;
    width: 25%;
    margin: 5px 15px 0 0;
    padding: 0 15px;
    background: transparent;
    overflow-x: hidden;
}

#calendarColumn {
    height: 85vh;
    width: 75%;
    margin-top: 5px;
    background-color: transparent;
}

.edit-icon {
    font-size: 1em;
    color: #555;

    // position: absolute;
    // top: 25%;
    // right: 20px;
    &:hover {
        cursor: pointer;
    }
}

.remove-icon {
    font-size: 1em;
    color: #555;

    // position: absolute;
    // top: 25%;
    // right: 5px;
    &:hover {
        cursor: pointer;
        background-color: @remove-hover-background-color;
        border-radius: 2px;
    }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.semester-tab-heading {
    cursor: pointer;
}

.schedule-tab-heading {
    cursor: pointer;
}

#loading-bar .bar {
    //height: 5px;
}

#loading-bar-spinner {
    display: inline;
    position: absolute;
    top: 0;
    left: -10px;
}

.button-add-tab {
    background: none;
    padding: 5px 10vh;
    border-radius: 0;
    margin-right: 0;
    color: black;
    padding: 5px 25px;
    outline: none !important;
    //font-weight:bold;
    &:hover {
        color: @body-dark-text-color;
        text-decoration: none;
        background-color: @body-dark-background-color;
        cursor: pointer;
    }
}

.nav-tabs {
    border-bottom: none;

    > li {
        // Actual tabs (as links)
        > a {
            padding: 5px 10vh;
            margin-right: 0;
            font-weight: bold;
            color: black;
            //background-color: @body-medium-background-color;
            border-style: none;
            border-radius: 0;
            &:hover {
                background-color: @body-dark-background-color;
            }
        }

        // Active state, and its :hover to override normal :hover
        &.active > a {
            color: @body-dark-text-color;
            //background-color: @tab-light-background-color;
            &,
            &:hover,
            &:focus {
                //background-color: @tab-light-background-color;
                border-bottom-color: transparent;
                border-style: none;
                cursor: default;
            }
        }
    }
}

/* tooltip */
.tooltip.right .tooltip-arrow {
    border-left-color: @tooltip-background-color;
}

.tooltip-inner {
    background-color: @tooltip-background-color;
}

/* scrollbar */

/* make it more visible (for win users) */
::-webkit-scrollbar {
    width: 0.3em;
    height: 0.3em;
}
::-webkit-scrollbar-button {
    background: #ccc
}
::-webkit-scrollbar-track-piece {
    background: #eee
}
::-webkit-scrollbar-thumb {
    background: #888
}
