<div class="row agenda-container">
    <div class="col-sm-5">
        <a href="" onclick="selectAgenda(this); return false;">
            <div id="agenda123" class="panel panel-default agenda-item">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <h4 id="agenda-title"></h4>
                            <p id="agenda-section" class="theme dark"></p>
                        </div>
                        <div class="col-xs-6 agenda-extra">
                            <p id="agenda-time" class="theme dark">test</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="agenda-tag">
            </div>
        </a>
    </div>
</div>
