<div class="row">
    <div class="col-sm-5 col-sm-offset-1">
        <a href="" onclick="selectAgenda(this); return false;">
            <div id="1" class="panel panel-default agenda-item">
                <div class="panel-body">
                    <h4>Item 1</h4>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-5 col-sm-offset-1">
        <a href="" onclick="selectAgenda(this); return false;">
            <div id="5" class="panel panel-default agenda-item">
                <div class="panel-body">
                    <h4>Item 5</h4>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-5 col-sm-offset-1">
        <a href="" onclick="selectAgenda(this); return false;">
            <div id="6" class="panel panel-default agenda-item">
                <div class="panel-body">
                    <h4>Item 6</h4>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-5 col-sm-offset-1">
        <a href="" onclick="selectAgenda(this); return false;">
            <div id="7" class="panel panel-default agenda-item">
                <div class="panel-body">
                    <h4>Item 7</h4>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-5 col-sm-offset-1">
        <a href="" onclick="selectAgenda(this); return false;">
            <div id="8" class="panel panel-default agenda-item">
                <div class="panel-body">
                    <h4>Item 8</h4>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-5 col-sm-offset-1">
        <a href="" onclick="selectAgenda(this); return false;">
            <div id="9" class="panel panel-default agenda-item">
                <div class="panel-body">
                    <h4>Item 9</h4>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-5 col-sm-offset-1">
        <a href="" onclick="selectAgenda(this); return false;">
            <div id="10" class="panel panel-default agenda-item">
                <div class="panel-body">
                    <h4>Item 10</h4>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-5 col-sm-offset-1">
        <a href="" onclick="selectAgenda(this); return false;">
            <div id="11" class="panel panel-default agenda-item">
                <div class="panel-body">
                    <h4>Item 11</h4>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-5 col-sm-offset-1">
        <a href="" onclick="selectAgenda(this); return false;">
            <div id="12" class="panel panel-default agenda-item">
                <div class="panel-body">
                    <h4>Item 12</h4>
                </div>
            </div>
        </a>
    </div>
</div>
