{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}Edit Profile{% endblock %}

{% block main_content %}
{% include 'main/sidebar.html' %}
<div class="container">
    <div id="profHeader" class="theme row">

        <div class="col-xs-9">
            <div class="row">
                <div class="col-xs-6">
                    <h3>Your Classes and Profile</h3>
                </div>
                <div class="col-xs-6" id="profile-control">
                    <a href="/" class="white-link-btn theme">
                        Go To Dashboard &rarr;
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h2>Preview:</h2>
            <div id="calendarui" class="theme"></div>
        </div>
        <div class="col-xs-3" >
            <h2>Enrolled:</h2>
            <div class="row" id="course-list">
                <h4>Loading your courses...</h4>
            </div>
        </div>
    </div>
    <br>
    <div id="search" class="row">
        <div class="col-xs-2">
            <label for="class">Start typing a class...</label>
        </div>
        <div class="col-xs-7">
            <input id="class" class="form-control" placeholder="e.g. 'COS', 'PHY 105', 'Introduction to Metaphysics'">
            <input type="hidden" id="class-id">
            <p id="class-description"></p>
        </div>
    </div>

    <div id="userinfo" class="theme row">
        <div class="col-xs-9">
            <div class="row">
                <div class="col-xs-2">
                    <label for="first_name_box">Your Name</label>
                </div>
                <div class="col-xs-3">
                    <input id="first_name_box" type="text" class="form-control" placeholder="First Name">
                    </input>
                </div>
                <div class="col-xs-3">
                    <input id="last_name_box" type="text" class="form-control" placeholder="Last Name">
                    </input>
                </div>

            </div>
        </div>
    </div>


</div> <!-- /#container -->
<div id="content_bounds"></div>
<div id="indicators-container">
</div>
{% endblock %}

{% block link_or_script_blocking %}
<link rel="stylesheet" href="{% static 'bower_components/jqueryui/themes/base/minified/jquery-ui.min.css' %}"> 
<link rel="stylesheet" href="{% static 'bower_components/fullcalendar/fullcalendar.css' %}">
<!--<link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">-->
<link rel="stylesheet" href="{% static 'bower_components/fontawesome/css/font-awesome.min.css' %}">
<link id="theme_css" rel="stylesheet" href="{% static 'cosmo/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/mystyles.css' %}">
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'css/profile/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/popup.css' %}">
<script src="{% static 'js/global.js' %}"></script>


<style>
  #class-label {
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
  }
  #class-description {
    margin: 0;
    padding: 0;
  }
  
  .ui-autocomplete {
    max-height: 150px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    width: 58.333333333%;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  /** html .ui-autocomplete {
    height: 100px;
  }*/
  
  </style>
<script>
var CACHEMAN_PRELOAD = [
    '{% url 'nice.views.popup_course' %}', 
    '{% url 'nice.views.course' %}', 
];
var CUR_SEM = {
    term_code: '{{ cur_sem.term_code }}',
    start_date: '{{ cur_sem.start_date }}',
    end_date: '{{ cur_sem.end_date }}',
}
var USER = {
    first_name: '{{ user.first_name }}',
    last_name: '{{ user.last_name }}',
}
var THEME = '{{ theme }}';
</script>

{% endblock %}

{% block link_or_script_nonblocking %}
<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bower_components/jqueryui/ui/minified/jquery-ui.min.js' %}"></script>
<script src="{% static 'bower_components/fullcalendar/fullcalendar.min.js' %}"></script>
<script src="{% static 'bower_components/momentjs/min/moment.min.js' %}"></script>
<script src="{% static 'bower_components/moment-timezone/moment-timezone.js' %}"></script>
<script src="{% static 'bower_components/jquery.cookie/jquery.cookie.js' %}"></script>

<script src="{% static 'js/set.js' %}"></script>
<script src="{% static 'js/loading.js' %}"></script>
<script src="{% static 'js/segmented_control.js' %}"></script>
<script src="{% static 'js/profile/keymap.js' %}"></script>
<script src="{% static 'js/profile/profile_auto.js' %}"></script>

<script src="{% static 'js/calendar-base.js' %}"></script>
<script src="{% static 'js/profile/calendar.js' %}"></script>

<script src="{% static 'js/sidebar-base.js' %}"></script>

<script src="{% static 'js/profile/course_manager.js' %}"></script>

<script src="{% static 'js/events_manager-base.js' %}"></script>
<script src="{% static 'js/profile/events_manager.js' %}"></script>

<script src="{% static 'js/profile/course_list.js' %}"></script>

<script src="{% static 'js/cache_manager.js' %}"></script>

<script src="{% static 'js/popup-base.js' %}"></script>
<script src="{% static 'js/profile/popup.js' %}"></script>

<script src="{% static 'js/profile/user_profile.js' %}"></script>

<script src="{% static 'js/main-base.js' %}"></script>
<script src="{% static 'js/profile/main.js' %}"></script>
{% endblock %}
