{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}Edit Profile{% endblock %}

{% block main_content %}
<div class="container">
<h1>Edit Your Profile, {{ formatted_name }}</h1>
<h2>Sign up for at least one class below.</h2>
<h3>Then <a href="{% url 'nice.views.edit_sections' %}">choose sections</a> or <a href="{% url 'nice.views.index' %}">proceed to dashboard</a>.</h2>

<div class="row">
    <h3>Edit Profile and Select Courses</h3>
    <form method="POST" role="form">
        {{courses_form.as_p}}
        {% csrf_token %}
        <button type="submit" class="btn btn-default">Update</button>
    </form>
</div>

</div> <!-- /#container -->
{% endblock %}

{% block link_or_script_blocking %}
<link rel="stylesheet" href="{% static 'bower_components/normalize-css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/jqueryui/themes/base/minified/jquery-ui.min.css' %}"> 
<link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
{% endblock %}

{% block link_or_script_nonblocking %}
<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
{% endblock %}
