{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}Edit Profile{% endblock %}

{% block main_content %}
{% include 'main/sidebar.html' %}
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h2>Preview:</h2>
            <div id="calendarui"></div>
        </div>
        <div class="col-xs-3" >
            <h2>Enrolled:</h2>
            <div class="row" id="course-list">
                <h4>Loading your courses...</h4>
            </div>
        </div>
    </div>
    <br>
    <div id="search" class="row">
        <div class="col-xs-7 col-xs-offset-1">
            <input id="class" class="form-control" placeholder="e.g. 'COS', 'PHY 105', 'LA', 'Introduction to Metaphysics'">
            <input type="hidden" id="class-id">
            <p id="class-description"></p>
        </div>
    </div>
</div> <!-- /#container -->
<div id="content_bounds"></div>
{% endblock %}

{% block link_or_script_blocking %}
<link rel="stylesheet" href="{% static 'bower_components/jqueryui/themes/base/minified/jquery-ui.min.css' %}"> 
<link rel="stylesheet" href="{% static 'bower_components/fullcalendar/fullcalendar.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/mystyles.css' %}">
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/popup.css' %}">
<script src="{% static 'js/global.js' %}"></script>


<style>
  #class-label {
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
  }
  #class-description {
    margin: 0;
    padding: 0;
  }
  
  .ui-autocomplete {
    max-height: 150px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    width: 58.333333333%;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  /** html .ui-autocomplete {
    height: 100px;
  }*/
  
  </style>
<script>
var CACHEMAN_PRELOAD = [
    '{% url 'nice.views.popup_course' %}', 
    '{% url 'nice.views.course' %}', 
    '{% url 'nice.views.loading' %}',
];
var CUR_SEM = {
    term_code: '{{ cur_sem.term_code }}',
    start_date: '{{ cur_sem.start_date }}',
    end_date: '{{ cur_sem.end_date }}',
}
</script>

{% endblock %}

{% block link_or_script_nonblocking %}
<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bower_components/jqueryui/ui/minified/jquery-ui.min.js' %}"></script>
<script src="{% static 'bower_components/fullcalendar/fullcalendar.min.js' %}"></script>
<script src="{% static 'bower_components/momentjs/min/moment.min.js' %}"></script>
<script src="{% static 'bower_components/moment-timezone/moment-timezone.js' %}"></script>
<script src="{% static 'bower_components/jquery.cookie/jquery.cookie.js' %}"></script>

<script src="{% static 'js/set.js' %}"></script>
<script src="{% static 'js/loading.js' %}"></script>
<script src="{% static 'js/segmented_control.js' %}"></script>
<script src="{% static 'js/profile/keymap.js' %}"></script>
<script src="{% static 'js/profile/profile_auto.js' %}"></script>

<script src="{% static 'js/calendar-base.js' %}"></script>
<script src="{% static 'js/profile/calendar.js' %}"></script>

<script src="{% static 'js/sidebar-base.js' %}"></script>

<script src="{% static 'js/profile/course_manager.js' %}"></script>

<script src="{% static 'js/events_manager-base.js' %}"></script>
<script src="{% static 'js/profile/events_manager.js' %}"></script>

<script src="{% static 'js/profile/course_list.js' %}"></script>

<script src="{% static 'js/cache_manager.js' %}"></script>

<script src="{% static 'js/popup-base.js' %}"></script>
<script src="{% static 'js/profile/popup.js' %}"></script>

<script src="{% static 'js/main-base.js' %}"></script>
<script src="{% static 'js/profile/main.js' %}"></script>
{% endblock %}
