{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}Edit Sections{% endblock %}

{% block main_content %}
<div class="container">
<h1>Choose Sections, {{ formatted_name }}</h1>
<h2>Customize your classes, or <a href="{% url 'nice.views.edit_profile' %}">return to course signup</a>.</h2>
<h3>Then <a href="{% url 'nice.views.index' %}">proceed to dashboard</a>.</h3>

<div class="row">
    <h3>Select Sections</h3>
    <form method="POST" role="form">
        {{sections_form.as_p}}
        {% csrf_token %}
        <button type="submit" class="btn btn-default">Update</button>
    </form>
</div>

</div> <!-- /#container -->
{% endblock %}

{% block link_or_script_blocking %}
<link rel="stylesheet" href="{% static 'bower_components/jqueryui/themes/base/minified/jquery-ui.min.css' %}"> 
<link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
{% endblock %}

{% block link_or_script_nonblocking %}
<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
{% endblock %}
