<div id="event-picker" class="carousel slide" data-interval="false" data-wrap="false">
    <!-- Indicators -->
    <!--
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    -->
    <h3 id="ep-title">Is this the event you were adding?</h3>
    <!-- Wrapper for slides -->
    <div id="ep-container" class="carousel-inner">
        
    </div>
    
    <!-- Controls -->
    <a class="left ep-control" href="#event-picker" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left theme "></span>
    </a>
    <a class="right ep-control" href="#event-picker" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right theme "></span>
    </a>
    <div class="ep-center-control">
        <a id="cancel_button" class="emphasis white-link-btn theme" href="#event-picker">
            Cancel
        </a>
    </div>
</div>
