<div id="carousel-example-generic" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="event-picker-item">
                <!-- cannot have the class popup - otherwise it gets managed by the popup module-->
                <div class="popup-container popup-ep">
                    <div class="panel panel-default panel-clipped">
                        <div class="panel-heading panel-heading-handle">
                            <h3 class="panel-title" >
                                <span class="popup-title" id="popup-title">Event Name 1</span>
                            </h3>
                        </div>
                        <div class="panel-body panel-body-scroll">
                            <h4 id="popup-date">April 1, 2014</h4>
                                             
                            <div class="row">
                                <div class="col-xs-5">
                                    <h4 id="popup-time-start">12:00 PM</h4>
                                </div>
                                <div class="col-xs-2">
                                    <h4>to</h4>
                                </div>
                                <div class="col-xs-5">
                                    <h4 id="popup-time-end">4:00 PM</h4>
                                </div>
                            </div>
                            <h4 id="popup-loc">CS Building</h4>
                            <p id="popup-section">Section</p>  
                            <p id="popup-type">Assignment</p>       
                            <p id="popup-desc">Add description here. <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.            
                            </p> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-caption">
                <a class="ep-center-btn">Choose</a>
            </div>
        </div>
        <div class="item ">
            <div class="event-picker-item">
                <!-- cannot have the class popup - otherwise it gets managed by the popup module-->
                <div class="popup-container popup-ep">
                    <div class="panel panel-default panel-clipped">
                        <div class="panel-heading panel-heading-handle">
                            <h3 class="panel-title" >
                                <span class="popup-title" id="popup-title">Event Name 1</span>
                            </h3>
                        </div>
                        <div class="panel-body panel-body-scroll">
                            <h4 id="popup-date">April 1, 2014</h4>
                                             
                            <div class="row">
                                <div class="col-xs-5">
                                    <h4 id="popup-time-start">12:00 PM</h4>
                                </div>
                                <div class="col-xs-2">
                                    <h4>to</h4>
                                </div>
                                <div class="col-xs-5">
                                    <h4 id="popup-time-end">4:00 PM</h4>
                                </div>
                            </div>
                            <h4 id="popup-loc">CS Building</h4>
                            <p id="popup-section">Section</p>  
                            <p id="popup-type">Assignment</p>       
                            <p id="popup-desc">Add description here. <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.            
                            </p> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-caption">
                <a class="ep-center-btn">Choose</a>
            </div>
        </div>
        <div class="item ">
            <div class="event-picker-item">
                <!-- cannot have the class popup - otherwise it gets managed by the popup module-->
                <div class="popup-container popup-ep">
                    <div class="panel panel-default panel-clipped">
                        <div class="panel-heading panel-heading-handle">
                            <h3 class="panel-title" >
                                <span class="popup-title" id="popup-title">Event Name 1</span>
                            </h3>
                        </div>
                        <div class="panel-body panel-body-scroll">
                            <h4 id="popup-date">April 1, 2014</h4>
                                             
                            <div class="row">
                                <div class="col-xs-5">
                                    <h4 id="popup-time-start">12:00 PM</h4>
                                </div>
                                <div class="col-xs-2">
                                    <h4>to</h4>
                                </div>
                                <div class="col-xs-5">
                                    <h4 id="popup-time-end">4:00 PM</h4>
                                </div>
                            </div>
                            <h4 id="popup-loc">CS Building</h4>
                            <p id="popup-section">Section</p>  
                            <p id="popup-type">Assignment</p>       
                            <p id="popup-desc">Add description here. <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.            
                            </p> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-caption">
                <a class="ep-center-btn">Choose</a>
            </div>
        </div>
    </div>
    
    <!-- Controls -->
    <a class="left ep-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right ep-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
