<div class="item"> <!-- add active class here -->
    <div class="event-picker-item">
        <div class="popup-container popup popup-ep">
            <div class="panel panel-default panel-clipped">
                <div class="panel-heading panel-heading-handle">
                    <h3 class="panel-title" >
                        <span class="popup-title" id="popup-title">Event Name 1</span>
                    </h3>
                </div>
                <div class="panel-body panel-body-scroll">
                    <h4 id="popup-date">April 1, 2014</h4>
                                     
                    <div class="row">
                        <div class="col-xs-5">
                            <h4 id="popup-time-start">12:00 PM</h4>
                        </div>
                        <div class="col-xs-2">
                            <h4>to</h4>
                        </div>
                        <div class="col-xs-5">
                            <h4 id="popup-time-end">4:00 PM</h4>
                        </div>
                    </div>
                    <h4 id="popup-loc">CS Building</h4>
                    <p id="popup-section">Section</p>  
                    <p id="popup-type">Assignment</p>       
                    <p id="popup-desc">Add description here. <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.            
                    </p> 
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-caption">
        <a id="choose-btn" class="white-link-btn"><strong>Choose</strong></a>
    </div>
</div>
