{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}SEC - Socially Engineered Calendar{% endblock %}

{% block main_content %}
{% include 'main/nav.html' %}
{% include 'main/sidebar.html' %}
<div class="tab-content">
    <div class="tab-pane fade left active in container" id="agenda">
        {% include 'main/agenda-placeholder.html' %}
    </div>         
    <div class="tab-pane fade right container" id="calendar">
        {% include 'main/calendar.html' %}
    </div>
</div>
<div id="content_bounds"></div>
{% endblock %}

{% block link_or_script_blocking %}
<link rel="stylesheet" href="{% static 'bower_components/fullcalendar/fullcalendar.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/jqueryui/themes/base/minified/jquery-ui.min.css' %}"> 
<!-- <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}"> -->
<link rel="stylesheet" href="{% static 'lumen/bootstrap.min.css' %}"> 

<link rel="stylesheet" href="{% static 'css/mystyles.css' %}">
<link rel="stylesheet" href="{% static 'css/popup.css' %}">
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'css/event-picker.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/smalot-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}">
<script src="{% static 'js/global.js' %}"></script>
<script>
var USER_NETID = '{{ username }}';
var CACHEMAN_PRELOAD = ['{% url 'nice.views.agenda' %}', '{% url 'nice.views.popup' %}', '{% url 'nice.views.agenda_header' %}', '{% url 'nice.views.typepicker' %}', '{% url 'nice.views.sectionpicker' %}', '{% url 'nice.views.notifications' %}', '{% url 'nice.views.event_picker' %}', '{% url 'nice.views.event_picker_item' %}'];
</script>
{% endblock %}

{% block link_or_script_nonblocking %}
<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bower_components/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'bower_components/jqueryui/ui/minified/jquery-ui.min.js' %}"></script>
<script src="{% static 'bower_components/fullcalendar/fullcalendar.min.js' %}"></script>
<script src="{% static 'bower_components/jquery.cookie/jquery.cookie.js' %}"></script>
<script src="{% static 'bower_components/momentjs/min/moment.min.js' %}"></script>
<script src="{% static 'bower_components/moment-timezone/moment-timezone.js' %}"></script>
<script src="{% static 'js/set.js' %}"></script>
<script src="{% static 'js/dashboard/agenda.js' %}"></script>
<script src="{% static 'js/dashboard/keymap.js' %}"></script>
<script src="{% static 'js/calendar-base.js' %}"></script>
<script src="{% static 'js/dashboard/calendar.js' %}"></script>
<script src="{% static 'js/popup-base.js' %}"></script>
<script src="{% static 'js/dashboard/popup.js' %}"></script>
<script src="{% static 'js/dashboard/state_restoration.js' %}"></script>
<script src="{% static 'js/main-base.js' %}"></script>
<script src="{% static 'js/dashboard/main.js' %}"></script>
<script src="{% static 'js/cache_manager.js' %}"></script>
<script src="{% static 'js/events_manager-base.js' %}"></script>
<script src="{% static 'js/dashboard/events_manager.js' %}"></script>
<script src="{% static 'js/dashboard/type-picker.js' %}"></script>
<script src="{% static 'js/dashboard/section-picker.js' %}"></script>
<script src="{% static 'js/sidebar-base.js' %}"></script>
<script src="{% static 'js/dashboard/sidebar.js' %}"></script>
<script src="{% static 'js/dashboard/notifications.js' %}"></script>
<script src="{% static 'js/dashboard/event-picker.js' %}"></script>
{% endblock %}
