{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}SEC - Socially Engineered Calendar{% endblock %}

{% block main_content %}
{% include 'main/nav.html' %}
<div class="tab-content">
    <div class="tab-pane fade left active in container" id="agenda">
        {% include 'main/agenda-placeholder.html' %}
    </div>         
    <div class="tab-pane fade right container" id="calendar">
        {% include 'main/calendar.html' %}
    </div>
</div>
<div id="content_bounds"></div>
{% endblock %}

{% block link_or_script_blocking %}
<link rel="stylesheet" href="{% static 'bower_components/fullcalendar/fullcalendar.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/jqueryui/themes/base/minified/jquery-ui.min.css' %}"> 
<link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/mystyles.css' %}">
<link rel="stylesheet" href="{% static 'css/popup.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/smalot-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}">
{% endblock %}

{% block link_or_script_nonblocking %}
<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!--<script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>-->
<script src="{% static 'bower_components/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'bower_components/jqueryui/ui/minified/jquery-ui.min.js' %}"></script>
<script src="{% static 'bower_components/fullcalendar/fullcalendar.min.js' %}"></script>
<script src="{% static 'bower_components/jquery.cookie/jquery.cookie.js' %}"></script>
<script src="{% static 'bower_components/momentjs/min/moment.min.js' %}"></script>
<script src="{% static 'js/set.js' %}"></script>
<script src="{% static 'js/agenda.js' %}"></script>
<script src="{% static 'js/keymap.js' %}"></script>
<script src="{% static 'js/calendar.js' %}"></script>
<script src="{% static 'js/popup.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/cache_manager.js' %}"></script>
<script src="{% static 'js/events_manager.js' %}"></script>
<script src="{% static 'js/type-picker.js' %}"></script>
{% endblock %}
