<div class="navbar navbar-basic navbar-fixed-top" role="navigation">
 <div class="container-fluid container-nopad">
     <div class="row">    
         <div class="col-xs-5 col-xs-offset-1">
             <ul id="maintab" class="nav nav-tabs nav-justified">
                 <li class="active"><a id="agendatab" class="nav-link" href="#agenda" data-toggle="tab"><h2>Agenda</h2></a></li>
                 <li class=""><a id="calendartab" class="nav-link" href="#calendar" data-toggle="tab"><h2>Calendar</h2></a></li>
             </ul> 
         </div>
         <div class="col-sm-5 nav_controls"> 
            <h5 style="display: inline-block">
                <a href="#" onclick="EventsMan_clickAddEvent();return false;" title="Add Event">
                    <span class="glyphicon glyphicon-plus "></span>
                </a>
                <a href="{% url 'nice.views.edit_profile' %}" title="Edit Profile">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </h5>
            <h2 style="display: inline-block">
            {{formatted_name}}
            </h2>

            <!-- 
            <div class="row user_label">
                <h2>{{formatted_name}}</h2>
            </div>
            <div class="row"> 
                <a href="#" onclick="EventsMan_clickAddEvent();return false;" title="Add Event">
                    <span class="glyphicon glyphicon-plus "></span>
                </a>
                <a href="{% url 'nice.views.edit_profile' %}" title="Edit Profile">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
            -->
        </div>
     </div>
 </div>
</div>
