<div class="navbar navbar-basic navbar-fixed-top" role="navigation">
 <div class="container-fluid container-nopad">
     <div class="row">    
         <div class="col-sm-5 col-sm-offset-1">
             <ul id="maintab" class="nav nav-pills nav-justified">
                 <li class="active"><a id="agendatab" class="nav-link" href="#agenda" data-toggle="tab"><h2>Agenda</h2></a></li>
                 <li><a id="calendartab" class="nav-link" href="#calendar" data-toggle="tab"><h2>Calendar</h2></a></li>
             </ul> 
         </div>
         <div class="col-sm-5 user_label">
            <h2>Brian Kernighan</h2>
         </div>
     </div>
 </div>
</div>
