<div class="navbar navbar-basic navbar-fixed-top" role="navigation">
 <div class="container-fluid container-nopad">
     <div class="row">    
        {% if is_mobile %}
        <div class="col-xs-12">
            <h4 style="display: inline-block">
                <a href="#" onclick="EventsMan_clickAddEvent();return false;" title="Add Event">
                    <span class="glyphicon glyphicon-plus "></span>
                </a>
                <a href="/user-logout" title="Log Out">
                    <span class="glyphicon glyphicon-log-out"></span>
                </a>
            </h4>
            <h2 style="display: inline-block">
            {{formatted_name}}
            </h2>
        </div>
        {% else %}
         <div class="col-xs-5 col-xs-offset-1">
             <ul id="maintab" class="nav nav-tabs nav-justified">
                 <li class="{% if nav_page == 0 %} active {% endif %}"><a id="agendatab" class="nav-link" href="#agenda" data-toggle="tab"><h3>Agenda</h3></a></li>
                 <li class="{% if nav_page == 1 %} active {% endif %}"><a id="calendartab" class="nav-link" href="#calendar" data-toggle="tab"><h3>Calendar</h3></a></li>
             </ul> 
         </div>
         <div class="col-sm-5 nav_controls"> 
            <h4 style="display: inline-block">
                <a href="#" onclick="EventsMan_clickAddEvent();return false;" title="Add Event">
                    <span class="glyphicon glyphicon-plus "></span>
                </a>
                <a href="{% url 'nice.views.edit_profile' %}" title="Edit Profile">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
                <a title="Settings" data-toggle="modal" data-target="#settingsModal">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <a href="/user-logout" title="Log Out">
                    <span class="glyphicon glyphicon-log-out"></span>
                </a>
            </h4>
            <h2 style="display: inline-block">
            {{formatted_name}}
            </h2>
        </div>
        {% endif %}
     </div>
 </div>
</div>
