{% extends 'main/base.html' %}
{% load staticfiles %}
{% block main_content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 column">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#">ReCal</a>
				</li>
				<li class="dropdown pull-right">
					 <a href="#" data-toggle="dropdown" class="dropdown-toggle">Dyland Xue<strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">Preferences</a>
						</li>
						<li class="divider">
						</li>
						<li>
							<a href="#">Log out</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-4 column clearfix">
			<nav class="navbar search-bar" role="navigation">
					<form class="navbar-form navbar-left" role="search">
                            <div class="form-group" style="width=800px;">
                                <input type="text" class="form-control" />
                            </div> 
                            <button type="submit" class="btn btn-default">Search</button>
					</form>
			</nav>
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
                        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#accordion-one">
                            COS 217 (QR) (npdf)  <a href="http://easypce.com/courses/cos217"><span style="float:right">4.14</span></a>
                        </a>
					</div>
					<div id="accordion-one" class="panel-collapse collapse">
						<div class="panel-body">
                            Introduction to Programming Systems
                             <a href="http://registrar.princeton.edu/course-offerings/course_details.xml?courseid=002053&term=1152"><span style="float:right">Registrar Link</span></a> <br/>

                            The purpose of this course is to provide the fundamental background necessary to understand, design and implement the components of programming systems. Examples of such components include text editors, assemblers, compilers, loaders, interpreters, and portions of operating systems. The course is divided into three major parts: machine organization and assembly language programming, program design and development, and software tools.
						</div>
					</div>
				</div>
                <div class="panel panel-default">
					<div class="panel-heading">
                        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#accordion-two">
                            COS 226 (QR) (na) (npdf)  <a href="http://easypce.com/courses/cos226"><span style="float:right">4.03</span></a>
                        </a>
					</div>
					<div id="accordion-two" class="panel-collapse collapse">
						<div class="panel-body">
                            Algorithms and Data Structures
                            <a href="http://registrar.princeton.edu/course-offerings/course_details.xml?courseid=002054&term=1152"><span style="float:right">Registrar Link</span></a> <br/>
                            This course surveys the most important algorithms and data structures in use on computers today. Particular emphasis is given to algorithms for sorting, searching, and string processing. Fundamental algorithms in a number of other areas are covered as well, including geometric algorithms, graph algorithms, and some numerical algorithms. The course will concentrate on developing implementations, understanding their performance characteristics, and estimating their potential effectiveness in applications.
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 column">
			<div class="row clearfix">
				<div class="col-md-12 column">
                    <div id="calendarui"></div>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-12 column">
				</div>
			</div>
		</div>
		<div class="col-md-2 column">
		</div>
	</div>
</div>
{% endblock %}

{% block link_or_script_blocking %}
<link rel="stylesheet" href="{% static 'bower_components/fullcalendar/dist/fullcalendar.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/jquery-ui/themes/ui-darkness/jquery-ui.min.css' %}">
<!-- <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}"> -->
<link id="theme_css" rel="stylesheet" href="{% static 'cosmo/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/fontawesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/smalot-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}">

<link rel="stylesheet" href="{% static 'css/nice/nice.css' %}">
<link rel="stylesheet" href="{% static 'css/landing/landing.css' %}">
{% endblock %}

{% block link_or_script_nonblocking %}
    <script src="{% static 'bower_components/requirejs/require.js' %}" data-main="{% static 'ts/ReCal/nice/config' %}"></script>
{% endblock %}
