<div id="popup-main123" class="popup-container popup">
    <div class="panel panel-default panel-clipped">
        <div class="panel-heading panel-heading-handle">
            <h3 class="panel-title" >
                <span class="popup-title" id="popup-title" onclick="PopUp_clickedElement(this)">title</span>
                <div class="hide" id="popup-title-form">
                    <input type="text" class="form-control">
                </div>
                <a href="#" onclick="PopUp_clickedClose(this); return false;" class="popup-ctrl hide">
                    <span class="glyphicon glyphicon-remove"></span>
                </a> 
            </h3>
        </div>
        <div class="panel-body panel-body-scroll">
            <h4 id="popup-date" onclick="PopUp_clickedElement(this)">April 1, 2014</h4>
            <div class="hide" id="popup-date-form">
                <input type="text" class="form-control withdatepicker" data-date-format="MM/DD/YYYY">
            </div>
            <h4 id="popup-loc" onclick="PopUp_clickedElement(this)">CS Building</h4>
            <div class="hide" id="popup-loc-form">
                <input type="text" class="form-control">
            </div>
            <p id="popup-type" onclick="PopUp_clickedElement(this)">Assignment</p>
            <div class="hide" id="popup-type-form">
                <input type="text" class="form-control">
            </div>
            
            <p id="popup-desc" onclick="PopUp_clickedElement(this)">The content of the selected agenda will go here. This popup by default will change according to which agenda is selected. However, if the user drags this popup, it will stay forever.
            <br>
            The content of the selected agenda will go here. This popup by default will change according to which agenda is selected. However, if the user drags this popup, it will stay forever.</p> 
            <div class="hide" id="popup-desc-form">
                <textarea class="form-control"></textarea>
            </div>
        </div>
    </div>
</div>
