<div id="popup-main123" class="popup-container popup popup-event">
    <a href="#" id="close_button" onclick="PopUp_clickedClose(this); return false;" class="popup-ctrl">
        <span class="glyphicon glyphicon-remove"></span>
    </a> 
    <div class="panel panel-default panel-clipped">
        <div class="panel-heading panel-heading-handle">
            <h3 class="panel-title" >
                <span class="popup-title" id="popup-title" onclick="PopUp_clickedElement(this)">Event Name</span>
                <div class="hide" id="popup-title-form">
                    <input type="text" class="form-control" maxlength="100">
                </div>
                <a href="#" id="unhide_button" onclick="PopUp_clickedUnhide(this); return false;" class="hide popup-ctrl">
                    <!-- <span class="glyphicon glyphicon-eye-open"></span> -->
                    <i class="fa fa-plus-square-o"></i>
                </a>
                <a href="#" id="hide_button" onclick="PopUp_clickedDelete(this); return false;" class="popup-ctrl withtooltip" data-toggle="tooltip" data-placement="right" title="hide">
                    <!-- <span class="glyphicon glyphicon-eye-close"></span> -->
                    <i class="fa fa-minus-square-o"></i>
                </a>
                <a href="#" onclick="PopUp_clickedSavePopUp(this); return false;" id="save_button" class="popup-ctrl hide">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
                <!--
                <a href="#" onclick="PopUp_clickedClose(this); return false;" class="popup-ctrl popup-ctrl-right">
                    <span class="glyphicon glyphicon-remove"></span>
                </a> 
                -->
            </h3>
        </div>
        <div class="panel-body panel-body-scroll">
            <label class="popup-help-text" style="text-align: center; display: block; font-size: .9em;">Click any field to edit...</label>
            <h4 id="popup-date" onclick="PopUp_clickedElement(this)">April 1, 2014</h4>
            <div class="hide" id="popup-date-form">
                <input type="date" class="form-control withdatepicker" required>
            </div>
 
            <div class="row">
                <div class="col-xs-5">
                    <h4 id="popup-time-start" onclick="PopUp_clickedElement(this)">12:00 PM</h4>
                    <div class="hide" id="popup-time-start-form">
                        <input type="time" class="form-control withtimepicker" data-date-format="MM/DD/YYYY" required>
                    </div>         
                </div>
                <div class="col-xs-2">
                    <h4>to</h4>
                </div>
                <div class="col-xs-5">
                    <h4 id="popup-time-end" onclick="PopUp_clickedElement(this)">4:00 PM</h4>
                    <div class="hide" id="popup-time-end-form">
                        <input type="time" class="form-control withtimepicker" data-date-format="MM/DD/YYYY" required>
                    </div>
                </div>
            </div>

            <input id="popup-repeat" class="" type="checkbox" name="repeat" value="true"><label for="popup-repeat"><h4>&nbsp;&nbsp;Repeat</h4></label>
            <div id="popup-repeat-pattern" class="popup-repeat-item hide">
            </div>
            <div id="popup-repeat-interval" class="popup-repeat-item hide">
            </div>
            <div>
                <!--
                <div id="popup-repeat-end">
                    <input type="date" class="form-control withdatepicker" required>
                </div>
                -->
                
            </div>
            


            <h4 id="popup-loc" onclick="PopUp_clickedElement(this)">CS Building</h4>
            <div class="hide" id="popup-loc-form">
                <input type="text" class="form-control" maxlength="100">
            </div>
            <label class="popup-help-text" for="popup-section">Class and Section:</label> <p id="popup-section" onclick="PopUp_clickedElement(this)">Section</p>
            <div class="hide" id="popup-section-form">
                <input type="text" class="form-control withcustompicker withsectionpicker">
            </div>
            <label class="popup-help-text" for="popup-type">Event Type:</label> <p id="popup-type" onclick="PopUp_clickedElement(this)">Assignment</p>
            <!--
            <div class="hide" id="popup-type-form">
                <select class="form-control">
                    <option id="AS" value="AS">Assignment</option>
                    <option id="EX" value="EX">Exam</option>
                    <option id="LA" value="LA">Lab</option>
                    <option id="LE" value="LE">Lecture</option>
                    <option id="OH" value="OH">Office Hours</option>
                    <option id="PR" value="PR">Precept</option>
                    <option id="RS" value="RS">Review Session</option>
                </select>
            </div>
            -->
            
            <div class="hide" id="popup-type-form">
                <input type="text" class="form-control withcustompicker withtypepicker">
            </div>
            <p id="popup-desc" onclick="PopUp_clickedElement(this)">Add description here. <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.            
            </p> 
            <div class="hide" id="popup-desc-form">
                <textarea class="form-control"></textarea>
            </div>
        </div>
    </div>
</div>
