<div id="sidebar" class="container-fluid">
    <a id="sb-handle" onclick="SB_toggle()">
        <span class="glyphicon glyphicon-chevron-left">
        </span>
    </a> 

    <!--
    <div id="sb-handle">
        <a href="#" onclick="SB_toggle()">
            <span class="glyphicon glyphicon-chevron-left">
            </span>
        </a>
    </div> 
    -->
    <div class="row">
        <div id="sb-left-container" class="col-xs-4">
        </div>
        <div id="sb-full-container" class="col-xs-8">
        </div>
    </div>
</div>
<div id="sidebar-target"></div>
