<div id="sidebar" class="container-fluid">
    <a id="sb-handle" onclick="SB_toggle()">
        <span class="glyphicon glyphicon-chevron-left">
        </span>
    </a> 
    <div class="row">
        {% if is_mobile %}
        <div id="sb-left-container" class="col-xs-12">
        </div>
        {% else %}
        <div id="sb-left-container" class="col-xs-4">
        </div>
        <div id="sb-full-container" class="col-xs-8">
        </div>
        {% endif %}
    </div>
</div>
<div id="sidebar-target"></div>
