<div id="type-picker123" class="type-picker btn-group-vertical btn-group-xs">
    <button id="AS" type="button" class="btn btn-default" onclick="TP_clickedType(this)">Assignment</button>
    <button id="EX" type="button" class="btn btn-default" onclick="TP_clickedType(this)">Exam</button>
    <button id="LA" type="button" class="btn btn-default" onclick="TP_clickedType(this)">Lab</button>
    <button id="LE" type="button" class="btn btn-default" onclick="TP_clickedType(this)">Lecture</button>
    <button id="OH" type="button" class="btn btn-default" onclick="TP_clickedType(this)">Office Hours</button>
    <button id="PR" type="button" class="btn btn-default" onclick="TP_clickedType(this)">Precept</button>
    <button id="RS" type="button" class="btn btn-default" onclick="TP_clickedType(this);">Review Session</button>
</div>
