{% verbatim %}
<div id="queueColumn" class="col-md-4 column" ng-controller="QueueCtrl as queueCtrl">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h1 class="my-panel-title"> My Courses </h1>
            <div id="courseQueue">
                <accordion close-others=false>
                <div ng-repeat="course in data.enrolledCourses">
                    <accordion-group heading="{{ course.primary_listing }}">
                    <div class="row clearfix q-section-container">
                        <div class="q-section" ng-click="queueCtrl.onClick(section)" ng-repeat="section in course.sections" ng-bind="section.name"> 
                        </div>
                    </div>
                </div>
                </accordion>
            </div>
        </div>
    </div>
    <div class="row clearfix">
    </div>
</div>
{% endverbatim %}
