{% verbatim %}
<div id="searchColumn" class="col-md-4 column" 
                       ng-controller="SearchCtrl as searchCtrl">
    <div class="row" id="searchBarContainer">
            <form class="form-search">
                <input id="searchBar"
                       type="text" 
                   ng-model="query" 
                   ng-change="searchCtrl.queryOnChange()"
                   ng-init="query=''"
                placeholder="Ex: COS 126, stories, WWS, etc.">
                </input>
            </form>
    </div>
    <div class="row enrolled-courses-container"
        ng-hide="data.enrolledCourses.length == 0">
        <h4>Enrolled Courses</h4>
        <div id="enrolledCourses" class="panel-group">
            <div class="panel panel-default course-panel" 
                 ng-repeat="course in data.enrolledCourses | courseSearch:query
                 | orderBy: 'primary_listing' track by course.id"  
                 ng-mouseover="searchCtrl.onMouseOver(course)" 
                 ng-mouseleave="searchCtrl.onMouseLeave(course)" 
                 ng-style="searchCtrl.setColor(course)"
                 tooltip-placement="top"
                 tooltip-popup-delay='1000'
                 tooltip="Click to unenroll"
                 ng-click="searchCtrl.onClick(course)">
                <div>
                    <div class="course-panel-title">
                        <div class="course-listings" 
                             ng-bind-html="course.all_listings | highlight: query"
                             >
                        </div>
                            <div class="course-title" 
                                 ng-bind-html="course.title | highlight: query">
                            </div>
                    </div>
                </div>
                <div class="course-tag"
                     ng-bind-html="searchCtrl.getEasyPceLink(course)"
                     >
                </div>
            </div>
        </div>
    </div>
    <div class="row course-panels-container"
         ng-hide="query.length == 0"
        >
        <h4> Unenrolled Courses </h4>
        <div id="unenrolledCourses" class="panel-group">
            <div class="panel panel-default course-panel" 
                    ng-repeat="course in data.courses | courseSearch:query 
                        | orderBy: 'primary_listing' track by course.id"  
                    ng-mouseover="searchCtrl.onMouseOver(course)" 
                    ng-mouseleave="searchCtrl.onMouseLeave(course)" 
                    ng-style="searchCtrl.setColor(course)"
                    tooltip-placement="top"
                    tooltip-popup-delay='1000'
                    tooltip="Click to enroll"
                    ng-click="searchCtrl.onClick(course)">
                <div>
                    <div class="course-panel-title">
                        <div class="course-listings" 
                           ng-bind-html="course.all_listings | highlight: query"
                           >
                        </div>
                        <div class="course-title" 
                           ng-bind-html="course.title | highlight: query">
                        </div>
                    </div>
                </div>
                <div class="course-tag"
                    ng-bind-html="searchCtrl.getEasyPceLink(course)"
                    >
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endverbatim %}
