<div id="header" class="group">
<div id="header-inner" class="group">
    <div id="logo">
        <a href="#">ReCal––Course Selection</a>
    </div>
    <div id="username" class="dropdown pull-right" dropdown>
        <a href class="dropdown-toggle" dropdown-toggle>
            {{ username }} <strong class="caret"></strong>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </div>
    <div class="header-item pull-right">
        <a target="__blank" href="/status">Status Page</a>
    </div>
    <div id="updates" class="pull-left">
        iOS App Coming Soon!
    </div>
    >

</div>
</div>
