{% load staticfiles %}
{% verbatim %}
<div ng-controller="ScheduleCtrl as scheduleCtrl">
<tabset>
    <tab ng-repeat = "schedule in schedules"
         active = schedule.active
         class="schedule-tab-heading"
         select="scheduleCtrl.onSelect($index)"
         ng-mouseover="showRemoveButton=true"
         ng-mouseleave="showRemoveButton=false"
    >
        <tab-heading class="ng-cloak"
        > 
            {{ schedule.title }}
            <a ng-click="scheduleCtrl.confirmRemoveSchedule($index)" 
               ng-show="showRemoveButton"
                href=''>
                <i class="fa fa-times remove-icon"></i>
            </a>
        </tab-heading>
         <div class="row clearfix" id="main">
            {% endverbatim %}
            {% include 'course-search.html' %}
            {% include 'calendar.html' %}
            {% verbatim %}
         </div>
    </tab>
    <button class="btn button-add-tab"
            ng-click="scheduleCtrl.askForNewScheduleName(selectedSchedule)"
            tooltip="Add a new schedule"
            tooltip-placement="right"
            tooltip-popup-delay="500"
            ng-show = canAddNewSchedules>
        +
    </button>
</tabset>
</div>
{% endverbatim %}
