{% load staticfiles %}
{% verbatim %}
<div ng-controller="SemCtrl as semCtrl">
    <tabset>
        <tab ng-repeat = "semester in semesters"
         active = semester.active
         class="semester-tab-heading"
         >
         <div class="row clearfix" id="main">
             {% endverbatim %}
             {% include 'schedule-tabs.html' %}
{% verbatim %}
         </div>
        <tab-heading>
        {{ semester.title }}
        </tab-heading>
        </tab>
        <tab select="semCtrl.addSemester()"
        disabled = "!canAdd"
        class="semester-tab-heading">
        <tab-heading>
        +
        </tab-heading>
        </tab>
    </tabset>
</div>
{% endverbatim %}
