{% load staticfiles %}
{% verbatim %}
<div ng-controller="SemCtrl as semCtrl" id="semesterContainer">
    <tabset>
        <tab ng-repeat = "semester in semesters"
         active = semester.active
         class="semester-tab-heading"
         >
         <div class="row clearfix" id="main">
             {% endverbatim %}
             {% include 'schedule-tabs.html' %}
{% verbatim %}
         </div>
        <tab-heading>
        {{ semester.name }}
        </tab-heading>
        </tab>
        <button class="btn button-add-tab"
                ng-click="semCtrl.addSemester()"
                tooltip="Add a new semester"
                tooltip-placement="right"
                tooltip-popup-delay="500"
                ng-show = "canAdd">
            +
        </button>
    </tabset>
</div>
{% endverbatim %}
