{% load staticfiles %}
{% verbatim %}
<div id="wrap">
    <div class="alert alert-warning alert-dismissible" role="alert" style="
    position: fixed;
    width: 25%;
    z-index: 100;
    left: 20px;
    top: 13vh;
    ">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Your schedule looking off? We unfortunately encountered an error last night, and things are back to normal now. More <a class="alert-link" href="/announcements/sorry" target="_blank">here</a>.
    </div>
    <div ng-controller="SemCtrl as semCtrl" id="semesterContainer">
        <tabset>
        <tab ng-repeat = "semester in semesters"
                active = semester.active
                class  = "semester-tab-heading"
        >
        <div class="row clearfix" id="main">
        {% endverbatim %}
        {% include 'schedule-tabs.html' %}
        {% verbatim %}
        </div>
        <tab-heading ng-bind="semester.name">
        </tab-heading>
        </tab>
        <button class="btn button-add-tab"
                ng-click="semCtrl.addSemester()"
                tooltip="Add a new semester"
                tooltip-placement="right"
                tooltip-popup-delay="500"
                ng-show = "canAdd"
                ng-cloak
                >
                <i class="fa fa-plus"></i>
        </button>
        </tabset>
    </div>
</div>
{% endverbatim %}
