.fc-event {
     font-size: 12px !important;
     text-align: center !important;
}

.fc-agenda-slots td div {
    height: 10px !important;
} 

.fc-agenda-axis{
    font-size: 8px !important;
    height: 15px !important;
    line-height: 15px !important;
}
