body{
    padding-top: 20px;
}
#course-list{
    overflow-x: hidden;
    overflow-y: auto;
    height: 410px;
}
#search{
    min-height: 100px;
}
.course-item > .panel-body{
    padding-top: 5px;
    padding-bottom: 5px;
}
.course-sections {
    margin: 0px;
    color: rgba(0, 0, 0, 0.4);
}
.course-sections.dark{
    color: rgba(255, 255, 255, 0.8);
}
.course-sections:before{
    content: "- ";
}
.course-title{
    margin-bottom: 0;
}

#profile-control{
    text-align: right;
    padding: 0;
}

#userinfo {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: rgba(255, 255, 255, 0);
    padding-bottom: 10px;
}

#userinfo.dark {
    background-color: rgba(50, 50, 50, 0.75);
}

#class-label {
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
}

#class-description {
    margin: 0;
    padding: 0;
}

.ui-autocomplete {
    visibility: hidden;
    max-height: 0;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    width: 58.333333333%;
}
.auto-item{
    margin-bottom: 0;
    margin-top: 0;
}
.auto-item > .panel-body{
    padding-top: 3px;
    padding-bottom: 3px;
}
.auto-text{
    margin: 0;
}
#auto-results{
    min-height: 100px;
    overflow: hidden;
    overflow-y: auto;
}
