#about-content{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    -webkit-transition: top 0.2s ease-in-out, opacity 0.2s linear;
    transition: top 0.2s ease-in-out, opacity 0.2s linear;
    z-index: 100000000;
}
#about-content.about-hidden{
    opacity: 0;
    height: 0;
    overflow: hidden;
    top: 80%;
}
#about-close-button{
    position: fixed;
    top: 5%;
    right: 5%;
    z-index: 10000000;
    font-size: 50px;
}
.prompt-btn{
    display: block;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
}
.prompt-btn.yes{
}
.prompt-btn.no{
    color: red;
}
.prompt-btn.no:hover{
    color: #cb1c03;
}

.popover{
    z-index: 10000;
}
.fc-event {
     font-size: 12px !important;
     font-weight: bold !important;
     /* text-align: center !important; */
}

.fc-agenda-slots td div {
    height: 15px; 
    min-height: 15px !important;
}

.fc-agenda-axis{
    font-size: 8px !important;
    height: 15px !important;
    width: 45px !important;
    line-height: 15px !important;
}


#calendarui.dark {
    background-color: rgba(100, 100, 100, 0);
}

#calendarui.dark > * > * > * > * > * > .fc-state-highlight {
    background-color: gray;
}
.event-picker-item{
}
.popup-ep {
    width: 330px;
    height: 350px;
    display: block;
    position: relative;
    left: auto;
    top: auto;
    margin: auto;
}
.ep-control{
    position: absolute;
    top: 40%;
    width: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    background-color: white;
    border: solid 1px rgba(0, 0, 0, 0.1); 
}
.ep-control.left{
    text-align: left;
    padding-left: 10px;
    left: 0;
}
.ep-control.right{
    text-align: right;
    padding-right: 10px;
    right: 0;
}
.ep-center-btn:hover, .ep-control:hover{
    background-color: rgb(240, 240, 240);
}
#ep-title{
    text-align: center;
}
.ep-center-control {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}
.navbar-basic {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: rgba(255, 255, 255, 0.85); /* NAVBAR COLOR */ 
}
.navbar-basic.dark{
    background-color: rgba(50, 50, 50, 0.75);
}
.nav-link > h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.container-nopad {
    padding: 0;
    padding-top: 10px;
}

body {
    
    /*background-color: #f5faff;*/
    padding-top: 130px;
    /*background: -webkit-repeating-linear-gradient(3deg, white, white  100px, rgba(250, 250, 250, 1) 100px, rgba(250, 250, 250, 1) 250px);/* For Safari 5.1 to 6.0 */
    /*background: -o-repeating-linear-gradient(3deg, white, white  100px, rgba(250, 250, 250, 1) 100px, rgba(250, 250, 250, 1) 250px); /* For Opera 11.1 to 12.0 */
    /*background: -moz-repeating-linear-gradient(3deg, white, white  100px, rgba(250, 250, 250, 1) 100px, rgba(250, 250, 250, 1) 250px);/* For Firefox 3.6 to 15 */
    /*background: repeating-linear-gradient(3deg, white, white  100px, rgba(250, 250, 250, 1) 100px, rgba(250, 250, 250, 1) 250px);/* Standard syntax */
    /*background-attachment: fixed;*/
    background: url('/static/images/crossword.png') repeat fixed;
}

body.dark{
    /*background-color:black;
    /*background-image: radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px), radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px), radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px), radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    /*background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    /*background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;*/
    background: url('/static/images/use_your_illusion.png') repeat fixed;
}

.slide {
    left: -100;
    -webkit-transition: left .15s linear;
    transition: left .15s linear;
}
.slide.in {
    left: 0;
}

.event-selected{
    background-color: #428be8 !important; /* SELECTION COLOR */
}
.fc-event {
    cursor: pointer;
}



.nav_controls {
    text-align: right;
}
/* dangerous, modifying a built-in style */
.form-control {
    resize: none;
}
/* dangerous */
/*.fc-content {
    background-color: white;
}*/
#calendarui {
    background-color: rgba(255, 255, 255, 0.8);
}

/*
#calendarui.dark{
    background-color: rgba(100, 100, 100, 0.30);
}
*/

.user_label>h2{
    margin-top:0;
    margin-bottom:10px;
}

a {
    cursor: pointer;
}

.white-link-btn{
    width: auto;
    margin: auto;
    position: relative;
    left: auto;
    top: auto;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    background-color: white;
    border: solid 1px rgba(0, 0, 0, 0.1); 

    text-shadow: None;
    text-align: center;
    font-weight: bold;
}
.white-link-btn:hover{
    text-decoration: None;
    background-color: lightgray;
}
.white-link-btn.dark{
    background-color: gray;
}
.white-link-btn.dark:hover{
    background-color: rgb(150, 150, 150);
}
.white-link-btn.emphasis {
    color: red;
}
.white-link-btn.emphasis:hover {
    color: #cb1c03;
}

.disabled-btn {
    color: rgb(200, 200, 200) !important;
    background-color: rgb(180, 180, 180) !important;
    cursor: default;
}

.agenda-item.panel{
    margin-bottom: 0;
}

.agenda-item.panel-primary{
}

.agenda-container {
    margin-bottom: 21px;
}
.agenda-container > * {
    padding: 0;
}

.link_effect{
    cursor: pointer;
}
.invisible_focus:focus{
    outline-color: transparent;
    outline-style: none;
}

.indicator{
    pointer-events: none;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    opacity: 0;
    position: relative;
    bottom: -100px;
    opacity: 1;
    bottom: 0;
}
/*
.indicator.in{
    opacity: 1;
    bottom: 0;
}*/
#loading-icon{
    float: right;
    -webkit-animation: rotateIcon 1s infinite linear;
    animation: rotateIcon 1s infinite linear;
}
#indicators-container{
    pointer-events: none;
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 10000;
}
@-webkit-keyframes rotateIcon {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(0deg);
        transform: rotate(360deg);
    }
}
@keyframes rotateIcon {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(0deg);
        transform: rotate(360deg);
    }
}

#agenda-title{
    margin-bottom: 0;
}
/*
#agenda-section{
    color: rgba(0, 0, 0, 0.4);
    margin: 0;
}
*/
#agenda-section.dark{
    color: rgba(255, 255, 255, 0.5);
}
#agenda-time{
    margin-top: 15px;
    margin-right: 20px; /* width of the agenda color tag*/
    text-align: right;
    color: rgba(0,0,0, 0.4)
}
#agenda-time.dark{
    color: rgba(255, 255, 255, 0.5);
}


.section-color-0 {
    color: rgba(22,77,11, 0.4);
}
.section-color-1 {
    color: rgba(11,99,11, 0.4);
}
.section-color-2 {
    color: rgba(22,55,22, 0.4);
}
.section-color-3 {
    color: rgba(77,11,255, 0.7);
}
.section-color-4 {
    color: rgba(255,11,66, 0.7);
}
.section-color-5 {
    color: rgba(11,34,54, 0.4);
}
.section-color-6 {
    color: rgba(00,32,44, 0.4);
}

/*
#agenda-color{
    margin-top: 15px;
    text-align: right;
    color: rgba(0,0,0, 0.4)
}
*/
#agenda-color.dark{
    color: rgba(255, 255, 255, 0.5);
}

.agenda-tag{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: black;
    width: 20px;
}

/* Navbar icons: removing default underlines and changing color on hover. */

div.nav_controls a:hover, div.nav_controls a:focus {
    text-decoration: none; /* default: underline; */
    color: #ff851b; /* default: #158cba; */
}

.nav-text{
    margin: 0;
    margin-top: 6px;
    margin-bottom: 7px;
}
#settingsModal{
    z-index: 200000;
}
#tutorial1 p {
    margin-bottom: 1em;
}
div.modal-footer p.copy {
    color: #666;
    font-size: .8em;
}
.modal-backdrop {
    z-index: 1040;
}
#nav_controls{
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}
#user_name{
    display: block;
}
@media screen and (max-width: 768px)
{
    .hideWhenSmall
    {
        visibility: hidden;
        display: none;
        width: 0;
        height: 0;
    }
    #nav_right
    {
        width: 100%;
    }
}

.main-content{
    -webkit-transition:  opacity 0.2s linear;
    transition:  opacity 0.2s linear;
}
.main-content.main-hidden{
    height: 0;
    opacity: 0;
}
#nav_mid_control{
    text-align: center;
}
#add_button{
    /*width: 100%;*/
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
#add_button > *{
    margin: 0;
    display: inline-block;
}

.main-nav-link{
    border-bottom-width: 0px !important;
}
#sidebar {
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -80%;
    background-color: white;
    padding-top: 130px;
    -webkit-transition: right .3s ease-out;
    transition: right .3s ease-out;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 999;
    border-left: solid 1px rgba(0, 0, 0, 0.1); 
    /*max-width: 350px;*/
}
#sidebar.dark{
    background-color: rgba(50, 50, 50, 0.75);
}
#sidebar.hover-active{
    background-color: lightyellow;
}
#sidebar.hover-active.dark{
    background-color: lightgray;
}
#sidebar.in{
    right: -53.3333333%; /* 80% * 2/3; only 1/3 is shown */
}
#sidebar.full.in{
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
}
#sidebar.full.in.dark{
    background-color: rgba(50, 50, 50, 0.8);
}
#sidebar-target{
    width: 15%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    visibility: hidden;
    z-index: -1;
}

#sb-left-container{
    height: 100%;
    -webkit-transition: width .2s ease-out;
    transition: width .2s ease-out;
}

#sb-left-container > * {
    margin-bottom: 15px;
}
#sb-full-container > .sb-full-content, #sb-left-container > .sb-left-content {
    opacity: 0;
    -webkit-transition: opacity 0.1s ease-out;
    transition: opacity 0.1s ease-out;
}
#sb-full-container > .sb-full-content.in, #sb-left-container > .sb-left-content.in {
    opacity: 1;
}
#sb-full-container {
}
#sb-handle{
    position: absolute;
    width: 40px;
    background-color: white;
    top: 120px;
    left: -40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    border-left: solid 1px rgba(0, 0, 0, 0.1); 
    border-top: solid 1px rgba(0, 0, 0, 0.1); 
    border-bottom: solid 1px rgba(0, 0, 0, 0.1); 
    font-size: 20px;
}
#sb-handle:hover{
    background-color: rgb(240, 240, 240);
}
#sb-handle.dark{
    background-color: rgb(50, 50, 50);
}
#sb-handle.dark:hover{
    background-color: rgb(100, 100, 100);
}

@media (max-width: 768px)
{
    #sidebar.in{
        right: -26.6666667%;
    }
}

@media (max-width: 400px)
{
    #sidebar.in{
        right: 0;
    }
}
.fc-event {
     font-size: 12px !important;
     text-align: center !important;
}

.fc-agenda-slots td div {
    height: 8px !important;
    min-height: 5px !important;
} 

.fc-agenda-axis{
    font-size: 8px !important;
    height: 15px !important;
    width: 45px !important;
    line-height: 15px !important;
}

#calendarui.dark {
    background-color: rgba(100, 100, 100, 0);
}
#sb-left-container > .popup-container {
    height: 550px;
}

body{
    padding-top: 20px;
}
#course-list{
    overflow-x: hidden;
    overflow-y: auto;
    height: 500px;
}
#search{
    min-height: 100px;
}
.course-item > .panel-body{
    padding-top: 5px;
    padding-bottom: 5px;
}
.course-sections {
    margin: 0px;
    color: rgba(0, 0, 0, 0.4);
}
.course-sections.dark{
    color: rgba(255, 255, 255, 0.8);
}
.course-sections:before{
    content: "- ";
}
.course-title{
    margin-bottom: 0;
}

#profile-control{
    text-align: right;
    padding: 0;
}

#userinfo {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: rgba(255, 255, 255, 0);
    padding-bottom: 10px;
}

#userinfo.dark {
    background-color: rgba(50, 50, 50, 0.75);
}

#class-label {
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
}

#class-description {
    margin: 0;
    padding: 0;
}

.ui-autocomplete {
    visibility: hidden;
    max-height: 0;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    width: 58.333333333%;
}
.auto-item{
    margin-bottom: 0;
    margin-top: 0;
}
.auto-item:hover{
    background-color: lightgray;
}
.auto-item > .panel-body{
    padding-top: 3px;
    padding-bottom: 3px;
}
.auto-text{
    margin: 0;
}
#auto-results{
    min-height: 100px;
    overflow: hidden;
    overflow-y: auto;
}
#sidebar {
    width: 65%;
    right: -65%;
}

#sidebar.in{
    right: -43.00%; /* 60% * 2/3; only 1/3 is shown */
}
