{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}Test Page{% endblock %}

{% block main_content %}
<div id="content"></div>
<div id='popup-template'>{% include 'main/popup_new.html' %}</div>
{% endblock %}

{% block link_or_script_nonblocking %}
<base href="{{ base_url }}">
<link rel="stylesheet" href="{% static 'bower_components/jquery-ui/themes/ui-lightness/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'compiled/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/fontawesome/css/font-awesome.min.css' %}">
<script src="{% static 'bower_components/requirejs/require.js' %}" data-main="{% static 'ts/testpage/config' %}"></script>
{% endblock %}



