.prompt-btn{
    display: block;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
}
.prompt-btn.yes{
}
.prompt-btn.no{
    color: red;
}
.prompt-btn.no:hover{
    color: #cb1c03;
}

.popover{
    z-index: 10000;
}
