.fc-event {
     font-size: 12px !important;
     font-weight: bold !important;
     /* text-align: center !important; */
}

.fc-agenda-slots td div {
    height: 15px; 
    min-height: 15px !important;
}

.fc-agenda-axis{
    font-size: 8px !important;
    height: 15px !important;
    width: 45px !important;
    line-height: 15px !important;
}


#calendarui.dark {
    background-color: rgba(100, 100, 100, 0);
}

#calendarui.dark > * > * > * > * > * > .fc-state-highlight {
    background-color: gray;
}
