.navbar-basic {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: rgba(255, 255, 255, 0.85); /* NAVBAR COLOR */ 
}
.nav-link > h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.container-nopad {
    padding: 0;
    padding-top: 10px;
}

body {
    
    /*background-color: #f5faff;*/
    padding-top: 90px;
    /* background-size: 20px;
    /* background: -webkit-repeating-linear-gradient(3deg, white, white  100px, rgba(250, 250, 250, 1) 100px, rgba(250, 250, 250, 1) 250px);/* For Safari 5.1 to 6.0 */
    /* background: -o-repeating-linear-gradient(3deg, white, white  100px, rgba(250, 250, 250, 1) 100px, rgba(250, 250, 250, 1) 250px); /* For Opera 11.1 to 12.0 */
    /* background: -moz-repeating-linear-gradient(3deg, white, white  100px, rgba(250, 250, 250, 1) 100px, rgba(250, 250, 250, 1) 250px);/* For Firefox 3.6 to 15 */
    /* background: repeating-linear-gradient(3deg, white, white  100px, rgba(250, 250, 250, 1) 100px, rgba(250, 250, 250, 1) 250px);/* Standard syntax */
    /* background-attachment: fixed; */
}

.slide {
    left: -100;
    -webkit-transition: left .15s linear;
    transition: left .15s linear;
}
.slide.in {
    left: 0;
}

.event-selected{
    background-color: #428be8 !important; /* SELECTION COLOR */
}
.fc-event {
    cursor: pointer;
}

#content_bounds {
    position: fixed;
    z-index: -999;
    visibility: hidden;
}

.nav_controls {
    text-align: right;
}
/* dangerous, modifying a built-in style */
.form-control {
    resize: none;
}
/* dangerous */
.fc-content {
    background-color: white;
}
.user_label>h2{
    margin-top:0;
    margin-bottom:10px;
}

.icon-refresh-animate {
	-webkit-animation-name: rotateThis;
	animation-name: rotateThis;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

@keyframes rotateThis {
	from { 
            -webkit-transform: scale( 1 ) rotate( 0deg );
            transform: scale( 1 ) rotate( 0deg ); 
        }

	to   { 
            -webkit-transform: scale( 1 ) rotate( 360deg ); 
            transform: scale( 1 ) rotate( 360deg ); 
        }
}
a {
    cursor: pointer;
}

.white-link-btn{
    width: auto;
    margin: auto;
    position: relative;
    left: auto;
    top: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    background-color: white;
    border: solid 1px rgba(0, 0, 0, 0.1); 

    text-shadow: None;
    text-align: center;
    font-weight: bold;
}
.white-link-btn:hover{
    text-decoration: None;
    
}

.disabled-btn {
    color: rgb(200, 200, 200) !important;
    background-color: rgb(180, 180, 180) !important;
    cursor: default;
}

/*.agenda-item.panel{
    border-radius: 0;
    border: 1px solid rgba(100, 100, 100, 0.1); 
}
.agenda-item.panel-primary{
    background-color: #e8f1f9;
}*/
