.navbar-basic {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: white;
}
.nav-link > h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.container-nopad {
    padding: 0;
    padding-top: 10px;
}

body {
    background-color: #f5faff;
    padding-top: 90px;
}

.slide {
    left: -100;
    -webkit-transition: left .15s linear;
    transition: left .15s linear;
}
.slide.in {
    left: 0;
}

.event-selected{
    background-color: #428be8 !important;
}
.fc-event {
    cursor: pointer;
}

#content_bounds {
    position: fixed;
    z-index: -999;
    visibility: hidden;
}

.user_label {
    text-align: right;
}
.form-control {
    resize: none;
}
