.navbar-basic {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: rgba(255, 255, 255, 0.85); /* NAVBAR COLOR */ 
}
.navbar-basic.dark{
    background-color: rgba(50, 50, 50, 0.75);
}
.nav-link > h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.container-nopad {
    padding: 0;
    padding-top: 10px;
}

body {
    
    /*background-color: #f5faff;*/
    padding-top: 110px;
    /*background: -webkit-repeating-linear-gradient(3deg, white, white  100px, rgba(250, 250, 250, 1) 100px, rgba(250, 250, 250, 1) 250px);/* For Safari 5.1 to 6.0 */
    /*background: -o-repeating-linear-gradient(3deg, white, white  100px, rgba(250, 250, 250, 1) 100px, rgba(250, 250, 250, 1) 250px); /* For Opera 11.1 to 12.0 */
    /*background: -moz-repeating-linear-gradient(3deg, white, white  100px, rgba(250, 250, 250, 1) 100px, rgba(250, 250, 250, 1) 250px);/* For Firefox 3.6 to 15 */
    /*background: repeating-linear-gradient(3deg, white, white  100px, rgba(250, 250, 250, 1) 100px, rgba(250, 250, 250, 1) 250px);/* Standard syntax */
    /*background-attachment: fixed;*/
    background: url('/static/images/crossword.png') repeat fixed;
}

body.dark{
    /*background-color:black;
    /*background-image: radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px), radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px), radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px), radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    /*background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    /*background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;*/
    background: url('/static/images/use_your_illusion.png') repeat fixed;
}

.slide {
    left: -100;
    -webkit-transition: left .15s linear;
    transition: left .15s linear;
}
.slide.in {
    left: 0;
}

.event-selected{
    background-color: #428be8 !important; /* SELECTION COLOR */
}
.fc-event {
    cursor: pointer;
}

#content_bounds {
    position: fixed;
    z-index: -999;
    visibility: hidden;
}

.nav_controls {
    text-align: right;
}
/* dangerous, modifying a built-in style */
.form-control {
    resize: none;
}
/* dangerous */
/*.fc-content {
    background-color: white;
}*/
#calendarui {
    background-color: rgba(255, 255, 255, 0.8);
}
#calendarui.dark{
    background-color: rgba(100, 100, 100, 0.30);
}
.user_label>h2{
    margin-top:0;
    margin-bottom:10px;
}

a {
    cursor: pointer;
}

.white-link-btn{
    width: auto;
    margin: auto;
    position: relative;
    left: auto;
    top: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    background-color: white;
    border: solid 1px rgba(0, 0, 0, 0.1); 

    text-shadow: None;
    text-align: center;
    font-weight: bold;
}
.white-link-btn:hover{
    text-decoration: None;
    background-color: lightgray;
}
.white-link-btn.dark{
    color: rgb(50, 50, 50);
}
.white-link-btn.dark:hover{
    color: rgb(100, 100, 100);
}
.white-link-btn.emphasis {
    color: red;
}
.white-link-btn.emphasis:hover {
    color: #cb1c03;
}

.disabled-btn {
    color: rgb(200, 200, 200) !important;
    background-color: rgb(180, 180, 180) !important;
    cursor: default;
}

.agenda-item.panel{
    margin-bottom: 0;
}

.agenda-item.panel-primary{
}

.agenda-container {
    margin-bottom: 21px;
}

.indicator{
    -webkit-transition: bottom 0.2s ease-in-out, opacity 0.2s ease-out;
    transition: bottom 0.2s ease-in-out, opacity 0.2s ease-out;
    opacity: 0;
    position: relative;
    bottom: -100px;
}
.indicator.in{
    opacity: 1;
    bottom: 0;
}
#loading-icon{
    float: right;
    -webkit-animation: rotateIcon 1s infinite linear;
    animation: rotateIcon 1s infinite linear;
}
#indicators-container{
    position: fixed;
    bottom: 10px;
    right: 20%;
    z-index: 10000;
}
@-webkit-keyframes rotateIcon {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(0deg);
        transform: rotate(360deg);
    }
}
@keyframes rotateIcon {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(0deg);
        transform: rotate(360deg);
    }
}

#agenda-title{
    margin-bottom: 0;
}
/*
#agenda-section{
    color: rgba(0, 0, 0, 0.4);
    margin: 0;
}
*/
#agenda-section.dark{
    color: rgba(255, 255, 255, 0.5);
}
#agenda-time{
    margin-top: 15px;
    text-align: right;
    color: rgba(0,0,0, 0.4)
}
#agenda-time.dark{
    color: rgba(255, 255, 255, 0.5);
}


.section-color-0 {
    color: rgba(22,77,11, 0.4);
}
.section-color-1 {
    color: rgba(11,99,11, 0.4);
}
.section-color-2 {
    color: rgba(22,55,22, 0.4);
}
.section-color-3 {
    color: rgba(77,11,255, 0.7);
}
.section-color-4 {
    color: rgba(255,11,66, 0.7);
}
.section-color-5 {
    color: rgba(11,34,54, 0.4);
}
.section-color-6 {
    color: rgba(00,32,44, 0.4);
}

/*
#agenda-color{
    margin-top: 15px;
    text-align: right;
    color: rgba(0,0,0, 0.4)
}
*/
#agenda-color.dark{
    color: rgba(255, 255, 255, 0.5);
}

.agenda-tag{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: black;
    width: 20px;
}

/* Navbar icons: removing default underlines and changing color on hover. */

div.nav_controls a:hover, div.nav_controls a:focus {
    text-decoration: none; /* default: underline; */
    color: #ff851b; /* default: #158cba; */
}

.nav-text{
    margin: 0;
    margin-top: 6px;
    margin-bottom: 7px;
}
#settingsModal{
    z-index: 200000;
}
.modal-backdrop{
    z-index: 100000;
}
#nav_controls{
    display: block;
    margin-top: 0;
}
#user_name{
    display: block;
}
@media screen and (max-width: 768px)
{
    .hideWhenSmall
    {
        visibility: hidden;
        display: none;
        width: 0;
        height: 0;
    }
    #nav_right
    {
        width: 100%;
    }
}

.main-content{
    -webkit-transition:  opacity 0.2s linear;
    transition:  opacity 0.2s linear;
}
.main-content.main-hidden{
    height: 0;
    opacity: 0;
}
