.popup-container{
    width: 300px;
    height: 350px;
}
.popup-container:not(.popup-ep){
    position: fixed;
    top: 100px;
    left: 50%;
}
.popup-container > .panel{
    /*max-height: 100%;*/
}
.popup-container > .panel > .panel-body{
    max-height: 100%;
    background-color: rgb(250, 250, 250);
    padding: 0;
    padding-top: 10px;
}
.popup-container > .panel > .panel-body.dark{
    background-color: rgb(50, 50, 50);
}
.popup-container > .popup-ctrl{
    position: absolute;
    right: -15px;
    top: -15px;
    z-index: 1000;
    margin: 0px;
}
.popup-container > .popup-ctrl > a{
    color: rgb(30, 30, 30);
}
.popup-container > .popup-ctrl > a:hover{
    color: gray;
}
.popup-container > .popup-ctrl.dark > a{
    color: lightgray;
}
.popup-container > .popup-ctrl.dark > a:hover{
    color: gray;
}

#popup-desc, #popup-desc-form{
    min-height: 150px;
}
#popup-loc{
    display: inline-block;
}
.popup-text-container{
    background-color: white;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;

    border-top: solid 1px rgba(0, 0, 0, 0.1); 
    border-bottom: solid 1px rgba(0, 0, 0, 0.1); 
}
.popup-text-container > h5 {
    margin-top: 2px;
    margin-bottom: 2px;
}
.popup-text-container.dark{
    background-color: rgb(30,30,30);
}

.panel-title {
    max-width: 90%;
}
#sb-left-container > .popup-container {
    position: relative;
    width: 100%;
    height: 350px;
    max-height: 50%;
    left: auto;
    top: auto;
}
.panel-clipped {
    overflow: hidden;
}
.panel-body-scroll {
    overflow: auto;
}
.panel-heading-handle {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.popup-ctrl-right {
    float: right;
}
.hide{
    visibility: hidden; 
}
.unsaved{
    background-color: #fffb99; /* BACKGROUND COLOR FOR UNSAVED CHANGES */
    color: black;
}
.popup-help-text {
    display: block; 
    margin: 0;
    color: gray;
}

.popup-help-text.center{
    text-align: center; 
}
