.popup-container {
    position: fixed;
    top: 100px;
    left: 60%;
    width: 25%;
    height: 300px;
}
.panel-clipped {
    overflow: hidden;
}
.panel-body-scroll {
    overflow: auto;
}
.panel-heading-handle {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.popup-ctrl {
    float: right;
}
.hide{
    visibility: hidden;
}
