#sidebar {
    width: 30%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -30%;
    background-color: white;
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-transition: right .2s ease-out;
    transition: right .2s ease-out;
}
#sidebar.in{
    right: 0;
}
#sidebar-target{
    width: 15%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    visibility: hidden;
    z-index: -1;
}
