{% verbatim %}
<div id="searchColumn" class="col-xs-4 column"
                       ng-cloak
                       ng-controller="SearchCtrl as searchCtrl">
    <div class="row" id="searchBarContainer">
        <input class="searchBar"
               type="search"
               ng-model="query"
               ng-init="query=''"
               select-on-click
               auto-focus
               focus="true"
               placeholder="Search">
        </input>
    </div>
    <div id="loading-message-container" ng-show="data.courses.length == 0">
        <div id="loading-bar-spinner"><div class="spinner-icon"></div></div>
        <h4 class="loading-courses-message">Loading Courses...</h4>
    </div>

    <div ng-show="query.length == 0 && data.enrolledCourses.length == 0 && data.courses.length != 0" ng-cloak>
        <h4 class="row">Feeling Lucky?</h4>
        <div class="row course-panels-container">
            <div id="recommendedCourses" class="panel-group">
                <div class="panel panel-default course-panel"
                     ng-repeat="course in data.courses | orderBy: '-rating' | limitTo: 10"
                     ng-mouseover="showTags=true; searchCtrl.onMouseOver(course)"
                     ng-mouseleave="showTags=false; searchCtrl.onMouseLeave(course)"
                     ng-init="showTags = false"
                     >
                     <div ng-mouseenter="showTags = true"
                          ng-mouseleave="showTags = false">
                         <div class="course-panel-title">
                             <div class="course-listings"
                                  ng-bind="course.all_listings"></div>
                             <div class="course-title"
                                  ng-bind="course.title"></div>
                         </div>
                         <div ng-show="showTags">
                             <a class="eval-tag"
                                target="_blank"
                                ng-href="{{ course.evaluation_link }}"
                                ><i class="fa fa-book"
                                    ></i></a>

                             <a class="more-info-tag"
                                  target="_blank"
                                  ng-href="{{ course.registrar_link }}"
                                  ><i class="fa fa-info"></i></a>
                             <div class="enroll-tag"
                                  ng-click="searchCtrl.toggleEnrollment(course)"> <i class="fa fa-plus"></i></div>
                         </div>
                     </div>

                </div>
            </div>
        </div>
    </div>
    <div id="enrolledCoursesContainer">
        <div ng-show="data.enrolledCourses.length > 0">
            <h4 class="row">{{data.enrolledCourses.length}} Enrolled Courses 
                <a target="_blank" ng-href="api/worksheet/{{data.schedule.id}}" class="export-icon">
                    <i class="fa fa-external-link pull-right"
                       tooltip="Enrollment Worksheet"
                       tooltip-placement="right"
                        ></i> 
                </a>
            </h4>
            <div class="row enrolled-courses-container"
                >
                <div id="enrolledCourses" class="panel-group">
                    <div class="panel panel-default course-panel enrolled-course-panel"
                         ng-class="{confirmed: searchCtrl.isConfirmed(course), unconfirmed: !searchCtrl.isConfirmed(course)}"
                         ng-repeat="course in data.enrolledCourses
                         | orderBy: 'primary_listing' track by course.id"
                         ng-style="searchCtrl.getCourseStyles(course)"
                         ng-init="showTags = false"
                         ng-mouseenter="showTags = true"
                         ng-mouseleave="showTags = false"
                         >
                         <div class="course-panel-title"
                             >
                             <div class="course-listings"
                                  ng-bind="course.all_listings"
                                  ></div>
                             <div class="course-title"
                                  ng-bind="course.title">
                             </div>
                         </div>
                         <div ng-show="showTags">
                             <a class="eval-tag"
                                target="_blank"
                                ng-href="{{ course.evaluation_link }}"
                                ><i class="fa fa-book"
                                    ></i></a>

                             <a class="more-info-tag"
                                  target="_blank"
                                  ng-href="{{ course.registrar_link }}"
                                 ><i class="fa fa-info"
                                     ></i></a>
                             <div class="unenroll-tag"
                                  ng-click="searchCtrl.toggleEnrollment(course)"> <i class="fa fa-minus"></i></div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="searchResultsContainer">
        <div ng-show="query.length > 0 && data.courses.length > 0">
            <h4 class="row"> {{filteredCourses.length}} Search Results</h4>
            <div class="row course-panels-container"
                >
                <div id="unenrolledCourses" class="panel-group">
                    <div class="panel panel-default course-panel"
                         ng-repeat="course in filteredCourses | orderBy: 'primary_listing' track by course.id"
                         ng-mouseover="showTags=true; searchCtrl.onMouseOver(course)"
                         ng-mouseleave="showTags=false; searchCtrl.onMouseLeave(course)"
                         ng-init="showTags = false"
                         >
                         <div class="course-panel-title">
                             <div class="course-listings"
                                  ng-bind-html="course.all_listings | highlight: query"></div>
                             <div class="course-title"
                                  ng-bind="course.title"></div>
                         </div>
                         <div ng-show="showTags">
                             <a class="eval-tag"
                                  target="_blank"
                                  ng-href="{{ course.evaluation_link }}"
                                 ><i class="fa fa-book"
                                     ></i></a>
                             <a class="more-info-tag"
                                  target="_blank"
                                  ng-href="{{ course.registrar_link }}"
                                  ><i class="fa fa-info"></i></a>
                             <div class="enroll-tag"
                                  ng-click="searchCtrl.toggleEnrollment(course)"> <i class="fa fa-plus"></i></div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endverbatim %}
