{% verbatim %}
<div ng-controller="FriendCtrl as friendCtrl"
     ng-show="searchCtrl.whichSearch == 1"
     >
    <div id="loading-message-container" ng-show="loading">
        <div id="loading-bar-spinner"><div class="spinner-icon"></div></div>
        <h4 class="loading-courses-message">Loading Friends...</h4>
    </div>
    <div class="friends-container">
        <div ng-show="true">
            <h4 class="row">My Friends</h4>
            <div class="row inner-friends-container">
                <div class="friend-list panel-group">
                    <div class="panel panel-default friend-panel"
                    ng-repeat="user in filteredUsers | limitTo:10"
                    ng-click="friendCtrl.onClick(user)"
                    >
                    {{ user.netid }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
