{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}ReCal: Course Selection {% endblock %}

{% block main_content %}
<script type="text/javascript">
   var username = "{{ username }}"

	var $j = jQuery.noConflict();
	$j(document).ready(function() {
		$.getScript('//connect.facebook.net/en_US/sdk.js', function() {
			FB.init({
			    appId: '388524094689370',
			    version: 'v2.3' // or v2.0, v2.1, v2.0
			});
		});

		interesting_part = '.fc-view-container'
		
		$('#fbshare').click(function(e) {
			FB.login(function(response) {
			    if (response.authResponse) {

			        html2canvas($(interesting_part), {
			            onrendered: function(canvas) {
			                // canvas is the final rendered <canvas> element

			                $('#result').html(canvas);

			                var image = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");

			                //window.location.href=image; // it will save locally

			                $.ajax({
			                    url: 'https://api.imgur.com/3/image',
			                    headers: {
			                        'Authorization': 'Client-ID babe650eea449df'
			                    },
			                    type: 'POST',
			                    data: {
			                        'image': canvas.toDataURL("image/png").replace('data:image/png;base64,', ''),
			                        'type': 'base64' // file or url
			                    },
			                    success: function(link) {
			                            console.log(link.data.link);

			                            FB.ui({
			                                method: 'share_open_graph',
			                                action_type: 'recalio:plan',
			                                action_properties: JSON.stringify({
			                                    image: link.data.link,
			                                    schedule: "http://recal.io/shared/" + username + "/" + link.data.id
			                                })
			                            }, function(response) {
			                                console.log(response);
			                                if (response.post_id) {
			                                    alert('Posted to Facebook!');
			                                }
			                                return false;
			                            });
			                        } // end successful imgur push
			                }); // end imgur ajax
			            } // end html2canvas onrendered
			        }); // end html2canvas
			    } // end facebook isauthenticated
			    else {
			        console.log('Please login and authorize ReCal to post to Facebook.');
			    }
			}); // end FB login

		return false;
		}); // end onclick
	});

</script>

<div id="container">
    {% include 'main/header.html' %}
    {% include 'main/semester-tabs.html' %}
</div>
{% endblock %}

{% block link_or_script_blocking %}
<meta name="apple-itunes-app" content="app-id=946948041, app-argument=recalCourseSelection://launch">
<link rel="stylesheet" href="{% static 'course_selection/bower_components/jquery-ui/themes/ui-lightness/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'course_selection/bower_components/fontawesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'course_selection/bower_components/fullcalendar/dist/fullcalendar.min.css' %}">
<link rel="stylesheet" href="{% static 'course_selection/bower_components/angular-loading-bar/build/loading-bar.css' %}">
<link rel="stylesheet" href="{% static 'course_selection/bower_components/qtip2/jquery.qtip.min.css' %}">
<link id="theme_css" rel="stylesheet" href="{% static 'course_selection/bower_components/flatstrap/dist/css/flatstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'less/main.css' %}">
{% endblock %}

{% block link_or_script_nonblocking %}
<script src="{% static 'course_selection/bower_components/requirejs/min/require.min.js' %}" data-main="{% static 'js/config.js' %}"></script>
{% endblock %}
