{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}ReCal: Course Selection {% endblock %}

{% block main_content %}
<script type="text/javascript">
   var username = "{{ username }}"
</script>
<script type="text/javascript">
  var _bftn_options = {
    theme: {
      className: 'countdown',
      body: "The FCC is trying to repeal Net Neutrality. Net Neutrality is the regulation, passed after people all across the Internet fought hard three years ago, that requires ISPs to treat all traffic on the Internet equally. This enables the free flow of information and innovation to thrive, which has defined our generation. If you care about preserving the internet as we know it, where all ideas are treated equally, contact your representatives and make your voice heard: the open internet is here to stay."
      },
    org: 'fftf',
    delay: 500,
    date: new Date(2017, 11, 14), // December 14th, 2017 is the FCC vote.
    viewCookieExpires: 3,
    };
</script>
<script src="https://widget.battleforthenet.com/widget.js" async></script>

<div id="container" ng-controller="MainCtrl as mainCtrl">
    {% include 'main/header.html' %}
    {% include 'main/semester-tabs.html' %}
</div>
{% endblock %}

{% block link_or_script_blocking %}
<meta name="apple-itunes-app" content="app-id=946948041, app-argument=recalCourseSelection://launch">
<link rel="stylesheet" href="{% static 'bower_components/jquery-ui/themes/ui-lightness/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/fontawesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/fullcalendar/dist/fullcalendar.min.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/angular-loading-bar/build/loading-bar.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/qtip2/jquery.qtip.min.css' %}">
<link id="theme_css" rel="stylesheet" href="{% static 'bower_components/flatstrap/dist/css/flatstrap.min.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{% static 'bower_components/angular-material/angular-material.min.css' %}">
<link rel="stylesheet" href="{% static 'less/main.css' %}">
{% endblock %}

{% block link_or_script_nonblocking %}
<script src="{% static 'bower_components/requirejs/require.js?bust=v4' %}" data-main="{% static 'js/config.js?bust=v4' %}"></script>
{% endblock %}
