{% load staticfiles %}
{% verbatim %}
<div ng-controller="ScheduleCtrl as scheduleCtrl">
    <md-tabs md-center-tabs="false" md-no-ink md-dynamic-height md-autoselect
    md-selected="selectedSchedule">
    <md-tab ng-repeat="schedule in schedules"
         md-on-select="scheduleCtrl.onSelect($index)"
    >
        <md-tab-label>
            <span
            ng-mouseover="showButtons=true"
            ng-mouseleave="showButtons=false">
            {{ schedule.scheduleObject.title }}
            <i ng-show="showButtons"
            ng-click="scheduleCtrl.changeScheduleTitle($index)"
            class="fa fa-edit edit-icon"></i>
            <i ng-click="scheduleCtrl.confirmRemoveSchedule($index)"
                ng-show="scheduleCtrl.canRemove() && showButtons"
                class="fa fa-times remove-icon"></i>
            </span>
        </md-tab-label>
        <md-tab-body>
            <div layout="row" layout-fill>
            {% endverbatim %}
            {% include 'main/search.html' %}
            {% include 'main/calendar.html' %}
            {% verbatim %}
        </div>
        </md-tab-body>
    </md-tab>

    <!-- <button class="btn button-add-tab"
            ng-click="scheduleCtrl.askForNewScheduleName(selectedSchedule)"
            tooltip="Add a new schedule"
            tooltip-placement="right"
            tooltip-popup-delay="500"
            ng-cloak
            ng-show = canAddNewSchedules>
        <i class="fa fa-plus"></i>
    </button> -->
</md-tabs>
</div>
{% endverbatim %}
