{% load staticfiles %}
{% verbatim %}
<div ng-controller="ScheduleCtrl as scheduleCtrl">
<tabset>
    <tab ng-repeat = "schedule in schedules"
         active = schedule.active
         class="schedule-tab-heading"
         select="scheduleCtrl.onSelect($index)"
         ng-mouseover="showButtons=true"
         ng-mouseleave="showButtons=false"
    >
        <tab-heading ng-cloak
        > 
        <span>
            {{ schedule.scheduleObject.title }}
            <i ng-show="showButtons" 
               ng-click="scheduleCtrl.changeScheduleTitle($index)" 
               class="fa fa-edit edit-icon"></i>
        </span>
            <i ng-click="scheduleCtrl.confirmRemoveSchedule($index)" 
               ng-show="scheduleCtrl.canRemove() && showButtons"
               class="fa fa-times remove-icon"></i>
        </tab-heading>
         <div class="row clearfix" id="main">
            {% endverbatim %}
            {% include 'main/course-search.html' %}
            {% include 'main/calendar.html' %}
            {% verbatim %}
         </div>
    </tab>
    <button class="btn button-add-tab"
            ng-click="scheduleCtrl.askForNewScheduleName(selectedSchedule)"
            tooltip="Add a new schedule"
            tooltip-placement="right"
            tooltip-popup-delay="500"
            ng-cloak
            ng-show = canAddNewSchedules>
        <i class="fa fa-plus"></i>
    </button>
</tabset>
</div>
{% endverbatim %}
