{% verbatim %}
<md-content id="searchColumn" flex="25" offset="5"
                       ng-cloak
                       ng-controller="SearchCtrl as searchCtrl">
    <div class="row" id="searchBarContainer">
        <md-button class="md-primary course-search-button"
        ng-class="{'md-raised': searchCtrl.whichSearch == 0}"
        ng-click="searchCtrl.useCourseSearch()"
        >
            <i class="fa fa-book"></i>
        </md-button>
        <md-button class="md-accent friend-search-button"
        ng-class="{'md-raised': searchCtrl.whichSearch == 1 }"
        ng-click="searchCtrl.useFriendSearch()"
        >
            <i class="fa fa-male"></i>
        </md-button>
        <input class="searchBar"
               type="search"
               ng-model="query"
               ng-init="query=''"
               select-on-click
               auto-focus
               focus="true"
               placeholder="{{ searchCtrl.placeHolder}}">
        </input>
    </div>

    <div ng-show="searchCtrl.whichSearch == 0">
    {% endverbatim %}
    {% include 'main/course-search.html' %}
    {% verbatim %}
    </div>

    <div ng-show="searchCtrl.whichSearch == 1">
    {% endverbatim %}
    {% include 'main/friend-search.html' %}
    {% verbatim %}
    </div>
</md-content>
{% endverbatim %}
