{% load staticfiles %}
{% verbatim %}
<div id="wrap">
    <div class="alert alert-success alert-dismissible" role="alert" style="
        position: fixed;
        width: 25%;
        z-index: 1000;
        left: 20px;
        bottom: 0;
        margin-bottom: 10px;
     ">
         <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <b>New courses available</b> The 17-18 Spring tab now has the latest course offerings from the Registrar.
     </div>
    <div ng-controller="SemCtrl as semCtrl" id="semesterContainer">
        <tabset>
        <tab ng-repeat = "semester in semesters"
                active = semester.active
                class  = "semester-tab-heading"
        >
        <div class="row clearfix" id="main">
        {% endverbatim %}
        {% include 'main/schedule-tabs.html' %}
        {% verbatim %}
        </div>
        <tab-heading ng-bind="semester.name">
        </tab-heading>
        </tab>
        <button class="btn button-add-tab"
                ng-click="semCtrl.addSemester()"
                tooltip="Add a new semester"
                tooltip-placement="right"
                tooltip-popup-delay="500"
                ng-show = "canAdd"
                ng-cloak
                >
                <i class="fa fa-plus"></i>
        </button>
        </tabset>
    </div>
</div>
{% endverbatim %}
